<app-header>

  </app-header>
  <section class="jobguru-breadcromb-area">
      
      
    </section>
    
    
   <!-- Breadcromb Area End -->
    
    
   <!-- Candidate Dashboard Area Start -->
   <section class="candidate-dashboard-area section_70">
      <div class="container">
         <div class="row">
            <div class="col-lg-3 col-md-12 ">
                <app-admin-side-bar></app-admin-side-bar>
            </div>
            <div class="col-lg-9 col-md-12">
                <div class="earnings-page-box manage-jobs">
                    <div class="manage-jobs-heading">
                       <h3>Payments</h3>
                    </div>
                    <form>
                        <div class="resume-box">
                    
                        <div class="single-resume-feild feild-flex-2 ">
                            <div class="single-input">
                                <label for="Phone"> Keyword :</label>
                                <input type="text" placeholder="keyword" >
                            </div>
                            <div class="single-input">
                                <label for="Phone">From :</label>
                                <input type="text" placeholder="06-11-2017" id="datepicker_23" class="datepicker">
                            </div>
                          
                            <div class="single-input">
                                <label for="Phone">To :</label>
                                <input type="text" placeholder="06-11-2017" id="datepicker_8" class="datepicker">
                            </div>
                            
                       </div>
                       <div class="single-resume-feild feild-flex-2 ">
                          <button  class="btn jobguru-btn-2">Search</button>
                          
                         
                       </div>
                       </div>
                     </form>
                      <div class="table table-responsive">
                         <table class="table table-bordered table-striped">
<thead>
  <th><strong>Employer</strong></th>
  <th><strong>Email</strong></th>
  <th><strong>Date Received</strong></th>
  <th><strong>Job Title</strong></th>
  <th><strong>Amount</strong></th>
  <th><strong>Action</strong></th>
  <th><strong>Action</strong></th>
</thead>
<tr>
  <td>Joseph Tuple</td>
  <td>email@gmail.com</td>
  <td>20th Oct 2018 (12.00PM)</td>
  <td>CNA Needed Immediately</td>
  <td>$25</td>
  <td><button  class="btn  jobguru-btn-2 table-btn" matTooltip="View this payment"><span class="fa fa-eye"></span></button></td>
  <td><button  class="btn btn-primary table-btn" matTooltip="view this employer profile"><span class="fa fa-user"></span></button></td>
</tr>
<tr>
    <td>Joseph Tuple</td>
    <td>email@gmail.com</td>
    <td>20th Oct 2018 (12.00PM)</td>
    <td>CNA Needed Immediately</td>
    <td>$25</td>
    <td><button  class="btn  jobguru-btn-2 table-btn" matTooltip="View this payment"><span class="fa fa-eye"></span></button></td>
    <td><button  class="btn btn-primary table-btn" matTooltip="view this employer profile"><span class="fa fa-user"></span></button></td>
  </tr>
  <tr>
      <td>Joseph Tuple</td>
      <td>email@gmail.com</td>
      <td>20th Oct 2018 (12.00PM)</td>
      <td>CNA Needed Immediately</td>
      <td>$25</td>
      <td><button  class="btn  jobguru-btn-2 table-btn" matTooltip="View this payment"><span class="fa fa-eye"></span></button></td>
      <td><button  class="btn btn-primary table-btn" matTooltip="view this employer profile"><span class="fa fa-user"></span></button></td>
    </tr>

                         </table>
                      </div>
                      <div class="pagination-box-row">
                          <p>Page 1 of 6</p>
                          <ul class="pagination">
                             <li class="active"><a href="#">1</a></li>
                             <li><a href="#">2</a></li>
                             <li><a href="#">3</a></li>
                             <li>...</li>
                             <li><a href="#">6</a></li>
                             <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                          </ul>
                       </div>

 
                                   </div>
            </div>
           
         </div>
      </div>
   </section>
  <app-footer></app-footer>

