<app-header>

  </app-header>
  <section class="jobguru-breadcromb-area">
      
      
    </section>
    
    
   <!-- Breadcromb Area End -->
    
    
   <!-- Candidate Dashboard Area Start -->
   <section class="candidate-dashboard-area section_70">
      <div class="container">
         <div class="row">
            <div class="col-lg-2 col-md-12">
               <app-js-profile-side-bar></app-js-profile-side-bar>
            </div>
            <div class="col-lg-7 col-md-12">
               <div class="dashboard-right">
                  <div class="candidate-profile">
                    <app-profile-pic></app-profile-pic>
                     <div class="candidate-single-profile-info">
                        <form [formGroup]="educationForm" (ngSubmit)="addEducation()">
                           <div class="resume-box">
                              <h3>Education History</h3>
                              <div class="single-resume-feild feild-flex-2">
                                  <div class="single-input">
                                     <label for="Phone">School Name:</label>
                                     <input type="text"formControlName="schoolName">
                                     <p *ngIf="schoolName.touched && schoolName.invalid" class="text-danger">Name of the school is required</p>
                                  </div>
                                  <div class="single-input">
                                     <label for="Email">Degree/Diploma/Certificate:</label>
                                     <input type="text" formControlName="degree"> 
                                     <p *ngIf="degree.touched && degree.invalid" class="text-danger">Degree/Certificate is required</p>
                                  </div>
                               </div>
                               <div class="single-resume-feild feild-flex-2">
                                <div class="single-input">
                                  <mat-form-field>
                                    <input matInput [matDatepicker]="picker" placeholder="From" formControlName="startDate">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                  </mat-form-field>
                                  <p *ngIf="startDate.touched && startDate.invalid" class="text-danger">When did you start school?</p>
                                </div>
                                <div class="single-input">
                                  <mat-form-field>
                                    <input matInput [matDatepicker]="picker2" placeholder="To" formControlName="endDate">
                                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                    <mat-datepicker #picker2></mat-datepicker>
                                  </mat-form-field>
                                  <p *ngIf="endDate.touched && endDate.invalid" class="text-danger">when did you finish school?</p>
                                </div>
                               </div>
                               <div class="single-resume-feild feild-flex-2">
                                  
                                   <div class="single-input">
                                      <label for="Email">Area of Study(optional):</label>
                                      <input type="text" formControlName="studyArea">
                                   </div>
                               </div>
                               
                              <div class="single-resume-feild ">
                                 <div class="single-input">
                                    <label for="Bio">Description(optional)</label>
                                    <textarea id="Bio" formControlName="description"></textarea>
                                 </div>
                                 <div class="single-input">
                                <button class="btn jobguru-btn-2">Add Education History</button>  
                                </div>
                              </div>
                              
                           </div>
                           <div *ngIf="educationForm.errors">
                            <div class="notification danger"  id="signUpError">
                                <span>Please fill all the fields to add education history
                                </span>
                                <button class="close-ntf" type="button">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                           
                        </div>
                           
                           
                        </form>
                     </div>
                     
                  </div>
               </div>
                 <!-- end job head -->
                 <div class="candidate-list-page">
                    <!-- End Single Candidate List -->
                    <div class="single-candidate-list" *ngFor="let history of (educationHistory | async)?.educationHistory;let count=index">
                       <div class="main-comment">
                          <div class="candidate-image">
                             <h3>{{count+1}} </h3>
                          </div>
                          <div class="candidate-text">
                             <div class="candidate-info">
                                <div class="candidate-title">
                                   <h3><a href="#">{{history.schoolName}}</a></h3>
                                   
                                </div>
                                <p><span class="fa fa-clock"></span> {{history.startDate.toDate() | date }} -  {{history.endDate.toDate() | date }} </p>
                             </div>
                             <div class="candidate-text-inner">
                                <p>{{history.description}}</p>
                                <p>Degree: {{history.degree}}</p>
                                <p>Area of Study: {{history.studyArea}}</p>
                             </div>
                             <div class="candidate-text-bottom">
                                
                                <div class="candidate-text-box">
                                 
                                  
                                </div>
                                <div class="candidate-action">
                                   <button (click)="removeHistory(history)" class="btn jobguru-btn-2" ><span class="fa fa-trash"></span></button>
                                 
                                </div>
                             </div>
                          </div>
                       </div>
                    </div>
                    <!-- End Single Candidate List -->
                   
                     
                 </div>
            </div>
            <div class="col-lg-3 col-md-12 dashboard-left-border">
              <app-js-right--sidebar></app-js-right--sidebar>
            </div>
         </div>
      </div>
   </section>
  <app-footer></app-footer>