<app-header></app-header>

<section class="jobguru-breadcromb-area">
    
    
 </section>
 <section class="candidate-dashboard-area section_70">
    <div class="container">
       <div class="row">
         <div class="col-lg-2 col-md-3">
            <div class="single-candidate-widget-2">
               
                <ul class="job-overview">
                  <li (click)="goToSavedJobs()">
                    <h4><i class="fa fa-map-marker"></i>Saved Jobs</h4>
                    <p></p>
                  </li></ul>
         </div>
         <div class="single-candidate-widget-2">
               
            <ul class="job-overview">
              <li (click)="goToFavouriteJobs()">
                <h4><i class="fa fa-map-marker"></i>Favourites</h4>
                <p></p>
              </li></ul>
     </div>
        </div>
          <div class="col-lg-10 col-md-9">
             <div class="">
   
             </div>

             <div class="job-grid-right candidate-list-page">
                  
                <div class="browse-job-head-option">
                        <div class="job-browse-search">
                                <form >
                                    <input type="search" placeholder="Search Jobs Here..." #keywordSearch>
                                    <button type="submit" (click)="topSearch(keywordSearch, nearmeStatus,shiftStatus)"><i class="fa fa-search"></i></button>
                                </form>
                              </div>
                              
                              <div class="job-browse-action">
                                 <div class="email-alerts">
                                    <input type="checkbox" class="styled" id="b_1" #nearmeStatus (change)="topSearch(keywordSearch, nearmeStatus,shiftStatus)" value="near">
                                    <label class="styled" for="b_1">Only near me</label>
                                 </div>
                                
                                  
                                 
                              </div>
                              <div class="job-browse-action">
                                     <div class="email-alerts">
                                        <input type="checkbox" class="styled" id="b_2" #shiftStatus (change)="topSearch(keywordSearch, nearmeStatus,shiftStatus)" value="shift">
                                        <label class="styled" for="b_2">Only shifts</label>
                                     </div>
                   

                </div></div>
                <!-- end job head -->
                <div class="candidate-list-page">
                  <loader-spinner *ngIf="loading"></loader-spinner>
                   <!-- End Single Candidate List -->
                   <div class="single-candidate-list" *ngFor="let job of (jobList | async)?.data | paginate: { itemsPerPage: 10, currentPage: p }">
                      <div class="main-comment">
                         
                         <div class="candidate-text">
                            <div class="candidate-info">
                               <div class="candidate-title">
                                  <h3><a [routerLink]="['/employer/job',job.basicDetails.id]">{{job.basicDetails.job_title}}</a></h3>
                                  <div class="pull-right">
                                        <button mat-icon-button [matMenuTriggerFor]="menu" class="accent" *ngIf="job.favourite.length>0"  matTooltip="Marked as Favorite By You">
                                                <mat-icon>favorite</mat-icon>
                                        </button>&nbsp;
                                        <button mat-icon-button [matMenuTriggerFor]="menu" class="accent" *ngIf="job.saved.length>0"  matTooltip="This Job is Saved">
                                                <mat-icon>saved</mat-icon>
                                        </button>&nbsp;
                                        <button mat-icon-button [matMenuTriggerFor]="menu" class="accent" *ngIf="job.flag.length>0"  matTooltip="You flagged the Job as Inapropriate">
                                                <mat-icon>flag</mat-icon>
                                        </button>&nbsp;
                                    <button mat-icon-button [matMenuTriggerFor]="menu">
                                        <mat-icon>more_vert</mat-icon>
                                      </button>
                                      <mat-menu #menu="matMenu">
                                        <button mat-menu-item (click)="jobActions.markFavourite(job.basicDetails.id)" *ngIf="job.flag.length>0">
                                          <mat-icon>favorite</mat-icon>
                                          <span>Favourite</span>
                                        </button>
                                        <button mat-menu-item (click)="jobActions.saveJob(job.basicDetails.id)">
                                          <mat-icon>save job</mat-icon>
                                          <span>Save Job</span>
                                        </button>
                                        <button mat-menu-item (click)="jobActions.flagInaappropriate(job.basicDetails.id)">
                                          <mat-icon>flag</mat-icon>
                                          <span>Flag as Inappropriate</span>
                                        </button>
                                        <button mat-menu-item (click)="applyJob(job.basicDetails.id)">
                                            <mat-icon>reply</mat-icon>
                                            <span>Apply this Job</span>
                                          </button>

                                      </mat-menu>
                                  </div>
                                 
                               </div>
                               <p><span class="fa fa-map-marker"></span>  {{job.basicDetails.location}}</p>
                            </div>
                            <div class="candidate-text-inner">
                               <p [innerHTML]="job.basicDetails.description |  slice:0:100  | striphtml "></p>
                            </div>
                            <div class="candidate-text-bottom">
                               <div class="candidate-text-box">
                                    <p class="open-icon"><i class="fa fa-clock"></i> Type: {{enumService.getJobType(job.basicDetails.job_type)}} </p>
                     
                                    <p class="varify"><i class="fa fa-clock"></i> Posted On: {{job.basicDetails.posted_date  |  date :'medium'}}</p>
                                  
                               </div>
                               <div class="candidate-action">
                                    <a [routerLink]="['/employer/job',job.basicDetails.id]" class="jobguru-btn-2">View Post</a>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                   <!-- End Single Candidate List -->
                  
                    <div class="single-candidate-list"  *ngIf="(jobList | async)?.data.length<1 && loading==false">
                        <div class="main-comment">
                           
                           <div class="candidate-text">
                              <div class="candidate-info">
                                 <div class="candidate-title">
                                    <h3><a href="#">No Results For Your Search</a></h3>
                                   
                                 </div>
                                 
                              </div>
                              <div class="candidate-text-inner">
                                 <p >Try using more relevant keywords, which include your skills, your certifications and your previous work experience titles</p>
                              </div>
                              
                           </div>
                        </div>
                     </div>
                  
                
                
             </div>
             <pagination-controls (pageChange)="p = $event" *ngIf="(jobList | async)?.data.length>0"></pagination-controls>
          </div>
       </div>
    </div></div>
 </section>

<app-footer></app-footer>
