<app-header>

</app-header>
<section class="jobguru-breadcromb-area">


</section>


<!-- Breadcromb Area End -->


<!-- Candidate Dashboard Area Start -->
<section class="candidate-dashboard-area section_70">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-12">
        <app-js-side-bar></app-js-side-bar>
      </div>
      <div class="col-lg-9 col-md-12">
          <div class="job-sidebar-list-single">
              <div class="sidebar-list-single">
                  <div class="top-company-list">
                     <h3>Profile CheckList</h3>
                  </div>
               </div>
               <div class="sidebar-list-single">
                  <div class="top-company-list">
                     <div class="company-list-logo">
                        <a href="#">
                        <span class="fa fa-user fa-3x"></span>
                        </a>
                     </div>
                     <div class="company-list-details">
                        <h3><a href="#">Email Address</a></h3>
                        <p class="company-state" *ngIf="emailVerified"><i class="fa fa-check fa-2x"></i><strong>Verified</strong></p>
                        <p class="company-state" *ngIf="!emailVerified" class="text-danger"><i class="fa fa-close fa-2x"></i><strong>Verify Your Email address</strong></p>
                       
                     </div>
                     <div class="company-list-btn">
                        <a  class="jobguru-btn" *ngIf="!emailVerified" (click)=" verifyUserEmail()"><i class="fa fa-check"></i>Verify Email</a>
                     </div>
                  </div>
               </div>
               <!-- end sidebar single list -->
              <div class="sidebar-list-single">
                 <div class="top-company-list">
                    <div class="company-list-logo">
                       <a href="#">
                       <span class="fa fa-user fa-3x"></span>
                       </a>
                    </div>
                    <div class="company-list-details">
                       <h3><a href="#">Profile Picture</a></h3>
                       <p class="company-state" *ngIf="statusProfilepic"><i class="fa fa-check fa-2x"></i><strong>Updated</strong></p>
                       <p class="company-state" *ngIf="!statusProfilepic" class="text-danger"><i class="fa fa-close fa-2x"></i><strong>Update your Profile picture</strong></p>
                      
                      
                      
                    </div>
                    <div class="company-list-btn">
                       <a routerLink="/jobseeker/profile" class="jobguru-btn"><i class="fa fa-check"></i>UPDATE</a>
                    </div>
                 </div>
              </div>
              <!-- end sidebar single list -->
              <div class="sidebar-list-single">
                  <div class="top-company-list">
                     <div class="company-list-logo">
                        <a href="#">
                        <span class="fa fa-tasks fa-3x"></span>
                        </a>
                     </div>
                     <div class="company-list-details">
                        <h3><a>Work History</a></h3>
                       
                        <p class="company-state" *ngIf="statusWorkHistory"><i class="fa fa-check fa-2x"></i><strong>Updated</strong></p>
                       <p class="company-state" *ngIf="!statusWorkHistory" class="text-danger"><i class="fa fa-close fa-2x"></i><strong>Update Your Work History</strong></p>
                      
                      
                       
                     </div>
                     <div class="company-list-btn">
                        <a routerLink="/jobseeker/profile/workhistory" class="jobguru-btn"><i class="fa fa-check"></i>UPDATE</a>
                     </div>
                  </div>
               </div>
               <!-- end sidebar single list -->
               <div class="sidebar-list-single">
                  <div class="top-company-list">
                     <div class="company-list-logo">
                        <a href="#">
                        <span class="fa fa-university fa-3x"></span>
                        </a>
                     </div>
                     <div class="company-list-details">
                        <h3><a href="#">Education History</a></h3>
                       
                        <p class="company-state" *ngIf="statusEducationHistory"><i class="fa fa-check fa-2x"></i><strong>Updated</strong></p>
                       <p class="company-state" *ngIf="!statusEducationHistory" class="text-danger"><i class="fa fa-close fa-2x"></i><strong>Update Your Education History</strong></p>
                      
                       
                       
                     </div>
                     <div class="company-list-btn">
                        <a  routerLink="/jobseeker/profile/educationhistory" class="jobguru-btn"><i class="fa fa-check"></i>Update</a>
                     </div>
                  </div>
               </div>
               <!-- end sidebar single list -->
               <div class="sidebar-list-single">
                  <div class="top-company-list">
                     <div class="company-list-logo">
                        <a href="#">
                        <span class="fa fa-id-card fa-3x"></span>
                        </a>
                     </div>
                     <div class="company-list-details">
                        <h3><a href="#">Government ID</a></h3>
                        <p class="company-state" *ngIf="statusGovernmentID"><i class="fa fa-check fa-2x"></i><strong>Updated</strong></p>
                        <p class="company-state" *ngIf="!statusGovernmentID" class="text-danger"><i class="fa fa-close fa-2x"></i><strong>Government ID is not uploaded</strong></p>
                        
                     </div>
                     <div class="company-list-btn">
                      <a  routerLink="/jobseeker/profile/documents" class="jobguru-btn"><i class="fa fa-check"></i>Update</a>
                     </div>
                  </div>
               </div>
               <!-- end sidebar single list -->
               <div class="sidebar-list-single">
                  <div class="top-company-list">
                     <div class="company-list-logo">
                        <a href="#">
                        <span class="fa fa-lock fa-3x"></span>
                        </a>
                     </div>
                     <div class="company-list-details">
                        <h3><a href="#">Social Security Number</a></h3>
                        <p class="company-state" *ngIf="statusSSN"><i class="fa fa-check fa-2x"></i><strong>Updated</strong></p>
                        <p class="company-state" *ngIf="!statusSSN" class="text-danger"><i class="fa fa-close fa-2x"></i><strong>Social Security Number is not uploaded</strong></p>
                        
                       
                     </div>
                     <div class="company-list-btn">
                      <a  routerLink="/jobseeker/profile/documents" class="jobguru-btn"><i class="fa fa-check"></i>Update</a>
                     </div>
                  </div>
               </div>
               <!-- end sidebar single list -->
               <div class="sidebar-list-single">
                  <div class="top-company-list">
                     <div class="company-list-logo">
                        <a href="#">
                        <span class="fa fa-certificate fa-3x"></span>
                        </a>
                     </div>
                     <div class="company-list-details">
                        <h3><a href="#">Certificates/Licenses(2)</a></h3>
                        <p class="company-state" *ngIf="statusCertificates"><i class="fa fa-check fa-2x"></i><strong>Updated</strong></p>
                        <p class="company-state" *ngIf="!statusCertificates" class="text-danger"><i class="fa fa-close fa-2x"></i><strong>You have not uploaded any certifications or licenses</strong></p>
                        
                       
                     </div>
                     <div class="company-list-btn">
                        <a routerLink="/jobseeker/profile/certifications" class="jobguru-btn"><i class="fa fa-check"></i>Update</a>
                     </div>
                  </div>
               </div>
               <!-- end sidebar single list -->
               <div class="sidebar-list-single">
                  <div class="top-company-list">
                     <div class="company-list-logo">
                        <a href="#">
                        <span class="fa fa-heading fa-3x"></span>
                        </a>
                     </div>
                     <div class="company-list-details">
                        <h3><a href="#">Proffessional Title</a></h3>
                        <p class="company-state" *ngIf="statusTitle"><i class="fa fa-check fa-2x"></i><strong>Updated</strong></p>
                        <p class="company-state" *ngIf="!statusTitle" class="text-danger"><i class="fa fa-close fa-2x"></i><strong>You have not updated your Proffessional Title</strong></p>
                       
                       
                     </div>
                     <div class="company-list-btn">
                      <a routerLink="/jobseeker/profile" class="jobguru-btn"><i class="fa fa-check"></i>Update</a>
                     </div>
                  </div>
               </div>
               <!-- end sidebar single list -->
               <div class="sidebar-list-single">
                  <div class="top-company-list">
                     <div class="company-list-logo">
                        <a href="#">
                        <span class="fa fa-info-circle fa-3x"></span>
                        </a>
                     </div>
                     <div class="company-list-details">
                        <h3><a href="#">Proffessional Summary</a></h3>
                        <p class="company-state" *ngIf="statusSummary"><i class="fa fa-check fa-2x"></i><strong>Updated</strong></p>
                        <p class="company-state" *ngIf="!statusSummary" class="text-danger"><i class="fa fa-close fa-2x"></i><strong>You have not updated your Proffessional Summary</strong></p>
                       
                     </div>
                     <div class="company-list-btn">
                      <a routerLink="/jobseeker/profile" class="jobguru-btn"><i class="fa fa-check"></i>Update</a>
                     </div>
                  </div>
               </div>
               <!-- end sidebar single list -->
               <div class="sidebar-list-single">
                  <div class="top-company-list">
                     <div class="company-list-logo">
                        <a href="#">
                        <span class="fa fa-clock fa-3x"></span>
                        </a>
                     </div>
                     <div class="company-list-details">
                        <h3><a href="#">Availability</a></h3>
                        <p class="company-state" *ngIf="statusAvailability"><i class="fa fa-check fa-2x"></i><strong>Updated</strong></p>
                        <p class="company-state" *ngIf="!statusAvailability" class="text-danger"><i class="fa fa-close fa-2x"></i><strong>You have not updated your Availability</strong></p>
                       
                     </div>
                     <div class="company-list-btn">
                      <a routerLink="/jobseeker/profile" class="jobguru-btn"><i class="fa fa-check"></i>Update</a>
                     </div>
                  </div>
               </div>
               <!-- end sidebar single list -->
               <div class="sidebar-list-single">
                  <div class="top-company-list">
                     <div class="company-list-logo">
                        <a href="#">
                        <span class="fa fa-language fa-3x"></span>
                        </a>
                     </div>
                     <div class="company-list-details">
                        <h3><a href="#">Language</a></h3>
                        
                        <p class="company-state" *ngIf="statusLanguage"><i class="fa fa-check fa-2x"></i><strong>Updated</strong></p>
                        <p class="company-state" *ngIf="!statusLanguage" class="text-danger"><i class="fa fa-close fa-2x"></i><strong>You have not updated your Language</strong></p>
                       
                       
                     </div>
                     <div class="company-list-btn">
                      <a routerLink="/jobseeker/profile" class="jobguru-btn"><i class="fa fa-check"></i>Update</a>
                     </div>
                  </div>
               </div>
               <!-- end sidebar single list -->
               <div class="sidebar-list-single">
                  <div class="top-company-list">
                     <div class="company-list-logo">
                        <a href="#">
                        <span class="fa fa-star fa-3x"></span>
                        </a>
                     </div>
                     <div class="company-list-details">
                        <h3><a href="#">Skills</a></h3>
                           
                        <p class="company-state" *ngIf="statusSkills"><i class="fa fa-check fa-2x"></i><strong>Updated</strong></p>
                        <p class="company-state" *ngIf="!statusSkills" class="text-danger"><i class="fa fa-close fa-2x"></i><strong>You have not updated your Skills yet</strong></p>
                       
                       
                       
                     </div>
                     <div class="company-list-btn">
                      <a routerLink="/jobseeker/profile" class="jobguru-btn"><i class="fa fa-check"></i>Update</a>
                     </div>
                  </div>
               </div>
               <!-- end sidebar single list -->
               <div class="sidebar-list-single">
                  <div class="top-company-list">
                     <div class="company-list-logo">
                        <a href="#">
                        <span class="fa fa-linkedin-in fa-3x"></span>
                        </a>
                     </div>
                     <div class="company-list-details">
                        <h3><a href="#">Social Info</a></h3>
                        <p class="company-state" *ngIf="statusSocial"><i class="fa fa-check fa-2x"></i><strong>Updated</strong></p>
                        <p class="company-state" *ngIf="!statusSocial" class="text-danger"><i class="fa fa-close fa-2x"></i><strong>You have not updated your Social Information yet</strong></p>
                       
                       
                       
                       
                     </div>
                     <div class="company-list-btn">
                      <a routerLink="/jobseeker/profile" class="jobguru-btn"><i class="fa fa-check"></i>Update</a>
                     </div>
                  </div>
               </div>
               <!-- end sidebar single list -->
               <div class="sidebar-list-single">
                  <div class="top-company-list">
                     <div class="company-list-logo">
                        <a href="#">
                        <span class="fa fa-map-marker fa-3x"></span>
                        </a>
                     </div>
                     <div class="company-list-details">
                        <h3><a href="#">Location</a></h3>
                        <p class="company-state" *ngIf="statusLocation"><i class="fa fa-check fa-2x"></i><strong>Updated</strong></p>
                        <p class="company-state" *ngIf="!statusLocation" class="text-danger"><i class="fa fa-close fa-2x"></i><strong>You have not updated your Location Information yet</strong></p>
                       
                       
                       
                       
                     </div>
                     <div class="company-list-btn">
                      <a routerLink="/jobseeker/profile" class="jobguru-btn"><i class="fa fa-check"></i>Update</a>
                     </div>
                  </div>
               </div>
               <!-- end sidebar single list -->
            
           </div>
      </div>
    </div>

  </div>

</section>
<app-footer></app-footer>
