<app-header></app-header>
<section class="jobguru-breadcromb-area">
    
    
  </section>
  <section class="jobguru-top-job-area browse-page section_70">
      <div class="container">
         <div class="row">
            <div class="col-md-12 col-lg-3">
               <div class="job-grid-sidebar">
                  <!-- Single Job Sidebar Start -->
                  <div class="single-job-sidebar sidebar-location">
                     <h3>location</h3>
                     <div class="job-sidebar-box">
                        <form>
                           <p>
                              <input type="search" placeholder="my Location">
                           </p>
                           <p class="location-value">
                              <input type="text" value="50">
                           </p>
                           <div class="dropdown">
                              <button class="btn-dropdown dropdown-toggle" type="button" id="location" data-toggle="dropdown" aria-haspopup="true">km</button>
                              <ul class="dropdown-menu" aria-labelledby="location">
                                 <li>km</li>
                                 <li>miles</li>
                              </ul>
                           </div>
                        </form>
                     </div>
                  </div>
                  <!-- Single Job Sidebar End -->
                   
                  <!-- Single Job Sidebar Start -->
                  <div class="single-job-sidebar sidebar-keywords">
                     <h3>Keywords</h3>
                     <div class="job-sidebar-box">
                        <form>
                           <select class="sidebar-category-select" name="states[]" multiple="multiple">
                              <option value="1">accounting</option>
                              <option value="2">finance</option>
                              <option value="3">automotive</option>
                              <option value="4">construction</option>
                              <option value="5">photoshop</option>
                              <option value="6">graphics</option>
                              <option value="7">After affects</option>
                              <option value="8">poster design</option>
                           </select>
                        </form>
                     </div>
                  </div>
                  <!-- Single Job Sidebar End -->
                   
                  <!-- Single Job Sidebar Start -->
                  <div class="single-job-sidebar sidebar-category">
                     <h3>Category</h3>
                     <div class="job-sidebar-box">
                        <form>
                           <select class="sidebar-category-select-2" name="states[]">
                              <option value="1">any category</option>
                              <option value="2">Health Care jobs</option>
                              <option value="3">automotive jobs</option>
                              <option value="4">construction</option>
                              <option value="5">design, art & multimedia</option>
                              <option value="6">education training</option>
                              <option value="7">restaurent/food</option>
                              <option value="7">programming/tech</option>
                              <option value="7">sales/marketing</option>
                              <option value="7">data science/analysis</option>
                           </select>
                        </form>
                     </div>
                  </div>
                  <!-- Single Job Sidebar End -->
                   
                  
                  <!-- Single Job Sidebar Start -->
                  <div class="single-job-sidebar sidebar-type">
                     <h3>Availability</h3>
                     <div class="job-sidebar-box">
                        <ul>
                           <li class="checkbox">
                              <input class="checkbox-spin" type="checkbox" id="Freelance" />
                              <label for="Freelance"><span></span>10-15hrs hrs/week</label>
                           </li>
                           <li class="checkbox">
                              <input class="checkbox-spin" type="checkbox" id="Full_Time" />
                              <label for="Full_Time"><span></span>15-20hrs hrs/week</label>
                           </li>
                           <li class="checkbox">
                              <input class="checkbox-spin" type="checkbox" id="Internship" />
                              <label for="Internship"><span></span>20-30hrs/week</label>
                           </li>
                           <li class="checkbox">
                              <input class="checkbox-spin" type="checkbox" id="Part_Time" />
                              <label for="Part_Time"><span></span>30-40hrs/week</label>
                           </li>
                           <li class="checkbox">
                              <input class="checkbox-spin" type="checkbox" id="Temporary" />
                              <label for="Temporary"><span></span>available Full-time</label>
                           </li>
                        </ul>
                     </div>
                  </div>
                  <!-- Single Job Sidebar End -->
                   
                  <!-- Single Job Sidebar Start -->
                  <div class="single-job-sidebar sidebar-salary">
                     <h3>Filter by Rate</h3>
                     <div class="job-sidebar-box">
                        <p>
                           <input type="text" id="amount" readonly>
                        </p>
                        <div id="slider"></div>
                     </div>
                  </div>
                  <!-- Single Job Sidebar End -->
               </div>
            </div>
            <div class="col-md-12 col-lg-9">
               <div class="job-grid-right">
                  <div class="browse-job-head-option">
                     <div class="job-browse-search">
                        <form>
                           <input type="search" placeholder="Search Jobs Here...">
                           <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                     </div>
                     <div class="job-browse-action">
                        <div class="email-alerts">
                           <input type="checkbox" class="styled" id="b_1">
                           <label class="styled" for="b_1">Only near me</label>
                        </div>
                        <div class="dropdown">
                            <button class="btn-dropdown dropdown-toggle" type="button" id="dropdowncur" data-toggle="dropdown" aria-haspopup="true">which job?</button>
                            <ul class="dropdown-menu" aria-labelledby="dropdowncur">
                               <li>Job Title 1</li>
                             <li>Job Title 2</li>
                             <li>Job Title 3</li>
                             <li>Job Title 4</li>
                             <li>Job Title 5</li>
                            </ul>
                         </div>
                        <div class="dropdown">
                           <button class="btn-dropdown dropdown-toggle" type="button" id="dropdowncur" data-toggle="dropdown" aria-haspopup="true">Sort By</button>
                           <ul class="dropdown-menu" aria-labelledby="dropdowncur">
                              <li>Newest</li>
                            <li>Oldest</li>
                            <li>Open shifts</li>
                            <li>Full-time</li>
                            <li>Part Time</li>
                           </ul>
                        </div>
                     </div>
                  </div>
                  <!-- end job head -->
                  <div class="candidate-list-page">
                      <!-- End Single Candidate List -->
                      <div class="single-candidate-list">
                         <div class="main-comment">
                            <div class="candidate-image">
                               <img src="assets/img/msg-2.png" alt="author">
                            </div>
                            <div class="candidate-text">
                               <div class="candidate-info">
                                  <div class="candidate-title">
                                     <h3><a href="#">John Doe</a></h3>
                                     <span class="fa fa-star starred"></span>
                                     <span class="fa fa-star starred"></span>
                                     <span class="fa fa-star starred"></span>
                                     <span class="fa fa-star"></span>
                                     <span class="fa fa-star"></span>
                                  </div>
                                  <p><span class="fa fa-mgraduation-cap"></span> Registered Nurse</p>
                               </div>
                               <div class="candidate-text-inner">
                                  <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam eu velit cursus, tempor ipsum in, tempus lectus. Nullam tempus nisi id nisl luctus, non tempor justo molestie....</p>
                                  <p style="font-size: large"><span class=" badge badge-pill badge-primary">skill 1</span>&nbsp;<span class="badge badge-primary">skill 2 </span>&nbsp;<span class="badge badge-primary">skill 3</span></p>
                               </div>
                               <div class="candidate-text-bottom">
                                  <div class="candidate-text-box">
                                     <p class="open-icon" title="availability"><i class="fa fa-clock"></i> 20-35 hrs /week </p>
                                     <p class="company-state" title="town and state"><i class="fa fa-map-marker"></i> Manville, NJ</p>
                                     <p class="varify" title="rate of pay"><i class="fa fa-money"></i> $50 / hr</p>
                                  </div>
                                  <div class="candidate-action">
                                     <a href="#" class="jobguru-btn-2">view Profile</a>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                      <!-- End Single Candidate List -->
                      <div class="single-candidate-list">
                          <div class="main-comment">
                             <div class="candidate-image">
                                <img src="assets/img/msg-2.png" alt="author">
                             </div>
                             <div class="candidate-text">
                                <div class="candidate-info">
                                   <div class="candidate-title">
                                      <h3><a href="#">John Doe</a></h3>
                                      <span class="fa fa-star starred"></span>
                                      <span class="fa fa-star starred"></span>
                                      <span class="fa fa-star starred"></span>
                                      <span class="fa fa-star"></span>
                                      <span class="fa fa-star"></span>
                                   </div>
                                   <p><span class="fa fa-mgraduation-cap"></span> Registered Nurse</p>
                                </div>
                                <div class="candidate-text-inner">
                                   <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam eu velit cursus, tempor ipsum in, tempus lectus. Nullam tempus nisi id nisl luctus, non tempor justo molestie....</p>
                                   <p style="font-size: large"><span class=" badge badge-pill badge-primary">skill 1</span>&nbsp;<span class="badge badge-primary">skill 2 </span>&nbsp;<span class="badge badge-primary">skill 3</span></p>
                                </div>
                                <div class="candidate-text-bottom">
                                   <div class="candidate-text-box">
                                      <p class="open-icon" title="availability"><i class="fa fa-clock"></i> 20-35 hrs /week </p>
                                      <p class="company-state" title="town and state"><i class="fa fa-map-marker"></i> Manville, NJ</p>
                                      <p class="varify" title="rate of pay"><i class="fa fa-money"></i> $50 / hr</p>
                                   </div>
                                   <div class="candidate-action">
                                      <a href="#" class="jobguru-btn-2">view Profile</a>
                                   </div>
                                </div>
                             </div>
                          </div>
                       </div>
                       <!-- End Single Candidate List -->
                     
                     
                   </div>
                  <div class="pagination-box-row">
                     <p>Page 1 of 6</p>
                     <ul class="pagination">
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li>...</li>
                        <li><a href="#">6</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
<app-footer></app-footer>
