<h3 mat-dialog-title >Message {{data.name}} <button class="btn  btn-primary table-btn pull-right" (click)="onNoClick()"><span class="fa fa-close"></span></button></h3>
<div mat-dialog-content style="background-color: whitesmoke">
        <div class="chat-board-content">
                <div class="chat-box-wrapper">
        <ul class="chat-list">
                <li>
                   <div class="chat-img">
                      <a href="#">
                      <img src="assets/img/msg-3.png" alt="user">
                      </a>
                   </div>
                   <div class="chat-content">
                      <div class="chat-text">
                         It’s Great opportunity to work.
                      </div>
                      <div class="chat-time">10:57 am</div>
                   </div>
                </li>
                <li class="chat-list-right">
                   <div class="chat-content">
                      <div class="chat-text">
                         simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                      </div>
                      <div class="chat-action">seen</div>
                   </div>
                </li>
                <li class="chat-list-right">
                   <div class="chat-content">
                      <div class="chat-text">
                         It was popularised in the 1960s
                      </div>
                      <div class="chat-action">seen</div>
                   </div>
                </li>
                <li>
                   <div class="chat-img">
                      <a href="#">
                      <img src="assets/img/msg-3.png" alt="user">
                      </a>
                   </div>
                   <div class="chat-content">
                      <div class="chat-text">
                         Ipsum has been the industry's standard
                      </div>
                      <div class="chat-time">10:57 am</div>
                   </div>
                </li>
                <li class="chat-list-right">
                   <div class="chat-content">
                      <div class="chat-text">
                         It’s Great opportunity to work.
                      </div>
                      <div class="chat-action">seen</div>
                   </div>
                </li>
                <li>
                   <div class="chat-img">
                      <a href="#">
                      <img src="assets/img/msg-3.png" alt="user">
                      </a>
                   </div>
                   <div class="chat-content">
                      <div class="chat-text">
                         It’s Great opportunity to work.
                      </div>
                      <div class="chat-time">10:57 am</div>
                   </div>
                </li>
                <li class="chat-list-right">
                   <div class="chat-content">
                      <div class="chat-text">
                         I like singing, playing basketballand so on.
                      </div>
                      <div class="chat-action">seen</div>
                   </div>
                </li>
                <li>
                   <div class="chat-img">
                      <a href="#">
                      <img src="assets/img/msg-3.png" alt="user">
                      </a>
                   </div>
                   <div class="chat-content">
                      <div class="chat-text">
                         It’s Great opportunity to work.
                      </div>
                      <div class="chat-time">10:57 am</div>
                   </div>
                </li>
                <li class="chat-list-right">
                   <div class="chat-content">
                      <div class="chat-text">
                         It’s Great opportunity to work.
                      </div>
                      <div class="chat-action">seen</div>
                   </div>
                </li>
             </ul></div></div>
             
</div>
<div mat-dialog-actions  style="display:block">
        <div class="chat-footer" >
                <div class="message-bar">
                   <div class="message-bar-inner">
                      <div class="attach-icon">
                         <p>
                            <i class="fa fa-paperclip"></i>
                         </p>
                         <input type="file">
                      </div>
                      <div class="message-text-area">
                         <form>
                            <textarea placeholder="Type message..."></textarea>
                            <button type="submit"><i class="fa fa-send"></i></button>
                         </form>
                      </div>
                   </div>
                </div>
             </div>
</div>
