<app-header>

</app-header>
<section class="jobguru-breadcromb-area">
    
    
  </section>
  
  
 <!-- Breadcromb Area End -->
  
  
 <!-- Candidate Dashboard Area Start -->
 <section class="candidate-dashboard-area section_70">
    <div class="container">
       <div class="row">
          <div class="col-lg-3 col-md-12">
            <app-employer-main-sidebar></app-employer-main-sidebar>
          </div>
          <div class="col-lg-9 col-md-12">
             <div class="dashboard-right">
                <div class="candidate-profile">
                    <app-profile-pic></app-profile-pic>
                   <div class="candidate-single-profile-info" >
                      <form  [formGroup]="companyProfile" (ngSubmit)="updateProfile()">
                         <div class="resume-box">
                            <h3>Employer Profile</h3>
                            <div class="single-resume-feild feild-flex-2 ">
                              <div class="single-input">
                                 <label for="Bio">Employer Name</label>
                                 <input   formControlName="employerName">
                                 <p *ngIf="employerName.touched && employerName.invalid" class="text-danger"> Employer Name is required</p>
                              </div>
                              <div class="single-input">
                                <label for="Bio">Company Name</label>
                                <input    formControlName="companyName">
                                <p *ngIf="companyName.touched && companyName.invalid" class="text-danger"> Company Name is required</p>
                             </div>
                              
                           </div>
                            
                            <div class="single-resume-feild ">
                               <div class="single-input">
                                  <label for="Bio">Company Overview:</label>
                                  <textarea formControlName="companyOverview"></textarea>
                                  <p *ngIf="companyOverview.touched && companyOverview.invalid" class="text-danger"> Company Overview is required</p>
                               </div>
                              
                            </div>
                            <div class="single-resume-feild ">
                                <div class="single-input">
                                   <label for="Bio">Employer Identification Number/Social Security Number</label>
                                   <input formControlName="EIN">
                                   <p *ngIf="EIN.touched && EIN.invalid" class="text-danger"> EIN is required</p>
                                </div>
                               
                             </div>
                            
                         </div>
                         <div class="resume-box">
                            <h3>Contact Information</h3>
                            <div class="single-resume-feild feild-flex-2">
                               <div class="single-input">
                                  <label for="Phone">Phone:</label>
                                  <input type="text"   formControlName="phone">
                                  <p *ngIf="phone.touched && phone.invalid" class="text-danger"> Phone is required</p>
                               </div>
                              
                            </div>
                            <div class="single-resume-feild feild-flex-2">
                               <div class="single-input">
                                  <label for="contry">State:</label>
                                  <select id="contry" formControlName="state"> 
                                    
                                     <option>Arab Amirats</option>
                                     <option>America</option>
                                     <option>Netherlands</option>
                                     <option>Russia</option>
                                    
                                     <option>India</option>
                                     <option>Pakistan</option>
                                     <option>Brazil</option>
                                     <option>Africa</option>
                                  </select>
                                  <p *ngIf="state.touched && state.invalid" class="text-danger"> Company state is required</p>
                               </div>
                               <div class="single-input">
                                  <label for="City">City:</label>
                                  <input type="text"    formControlName="city">
                                  <p *ngIf="city.touched && city.invalid" class="text-danger"> Company city is required</p>
                               </div>
                            </div>
                            <div class="single-resume-feild feild-flex-2">
                               <div class="single-input">
                                  <label for="Zip">Zip:</label>
                                  <input type="text"   formControlName="zipCode">
                                  <p *ngIf="zipCode.touched && zipCode.invalid" class="text-danger"> Company zipcode is required</p>
                               </div>
                               <div class="single-input">
                                  <label for="Address22">Address:</label>
                                  <input type="text"   formControlName="address">
                                  <p *ngIf="address.touched && address.invalid" class="text-danger"> Company address is required</p>
                               </div>
                            </div>
                            <div class="single-resume-feild feild-flex-2">
                              <button class="btn jobguru-btn-2">Save Contact Info</button>  
                            </div>
                         </div>
                         <div *ngIf="companyProfile.errors">
                            <div class="notification danger"  id="signUpError">
                                <span>Please fill all the fields to continue
                                </span>
                                <button class="close-ntf" type="button">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                           
                        </div>
                         
                         
                      </form>
                   </div>
                </div>
             </div>
          </div>
          
       </div>
    </div>
 </section>
<app-footer></app-footer>
