
<app-header></app-header>
 <!-- Breadcromb Area Start -->
 <section class="jobguru-breadcromb-area">
    <div class="breadcromb-top section_100">
       <div class="container">
          <div class="row">
             <div class="col-md-12">
                <div class="breadcromb-box">
                   <h3>Employer Registeration</h3>
                </div>
             </div>
          </div>
       </div>
    </div>
    <div class="breadcromb-bottom">
       <div class="container">
          <div class="row">
             <div class="col-md-12">
                <div class="breadcromb-box-pagin">
                   <ul>
                      <li><a href="#">home</a></li>
                      <li><a href="#">Employer</a></li>
                      <li class="active-breadcromb"><a routerLink="/account/employer/signup">Register</a></li>
                   </ul>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>
 <!-- Breadcromb Area End -->
  
  
 <!-- Login Area Start -->
 <section class="jobguru-login-area section_70">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="login-box">
                <div class="login-title">
                   <h3>Employer registration</h3>
                </div>
                <form  [formGroup]="employerSignUpForm" (ngSubmit)="employerSignUp()">
                   <div class="single-login-field">
                      <input type="text" placeholder="Full Name of Representative" formControlName="fullName">
                      <p *ngIf="fullName.touched && fullName.invalid" class="text-danger"> Your full Name is required</p>
                   </div>
                   <div class="single-login-field">
                    <input type="text" placeholder="Company Name/Employer Name" formControlName="companyName">
                    <p *ngIf="companyName.touched && companyName.invalid"  class="text-danger"> Company Name is required</p>
                 </div>
                 <div class="single-login-field">
                    <input type="text" placeholder="Industry" formControlName="industry">
                    <p *ngIf="industry.touched && industry.invalid"  class="text-danger"> Industry is required</p>
                 </div>
                 <div class="single-login-field">
                    <input type="text" placeholder="Phone Number" formControlName="phoneNumber">
                    <p *ngIf="phoneNumber.touched && phoneNumber.invalid"  class="text-danger"> Phone Number is required</p>
                 </div>
                   <div class="single-login-field">
                      <input type="email" placeholder="Email Addresss" formControlName="email">
                      <p *ngIf="email.touched && email.invalid"  class="text-danger"> Email Address is required</p>
                   </div>
                   <div class="single-input single-login-field">
                       <select formControlName="shiftType">
                    <option>One time-shift</option>
                    <option>Recurring Shifts</option>
                    <option>Full-time Empployee</option>
                    <option>Part time shift</option>
                  </select>
                  <p *ngIf="shiftType.touched && shiftType.invalid"  class="text-danger"> Nature of job is required</p></div>
                   <div class="single-login-field">
                      <input type="password" placeholder="Choose Password"  formControlName="password">
                      <p *ngIf="password.touched && password.invalid "  class="text-danger"> Password is required</p>
                   </div>
                   <div class="single-login-field">
                      <input type="password" placeholder="Confirm Password"  formControlName="cPassword">
                      <p *ngIf="cPassword.touched && cPassword.invalid"  class="text-danger"> Confirm Password is required</p>
                   </div>
                   <div class="remember-row single-login-field clearfix">
                        <p class="checkbox remember">
                           <input class="checkbox-spin" type="checkbox" id="Freelance" formControlName="terms" value="terms">
                           <label for="Freelance"><span></span>accept terms & condition</label>
  
                        </p>
                        
                     </div>
                   <div class="single-login-field">
                        <p *ngIf="terms.invalid"  class="text-danger"> You must accept Terms and Conditions to continue</p>
                      <button type="submit">Sign Up</button>
                   </div>
                </form>
            
                     <div *ngIf="employerSignUpForm.errors">
                        <div class="notification danger" >
                        <span>Please fill all the fields to continue
                        </span>
                        <button class="close-ntf" type="button">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                    </div>
                    
                <div class="dont_have">
                   <a routerLink="/accounts/login">Already have an account?</a>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>
 <!-- Login Area End -->


<app-footer></app-footer>