<app-header>

  </app-header>
  <section class="jobguru-breadcromb-area">
      
      
    </section>
    
    
   <!-- Breadcromb Area End -->
    
    
   <!-- Candidate Dashboard Area Start -->
   <section class="candidate-dashboard-area section_70">
      <div class="container">
         <div class="row">
            <div class="col-lg-2 col-md-12">
               <app-js-profile-side-bar></app-js-profile-side-bar>
            </div>
            <div class="col-lg-7 col-md-12">
               <div class="dashboard-right">
                  <div class="candidate-profile">
                    <app-profile-pic></app-profile-pic>
                     <div class="candidate-single-profile-info">
                        <form [formGroup]="workForm" (ngSubmit)="addWorkHistory()">
                           <div class="resume-box">
                              <h3>Work Experience</h3>
                              <div class="single-resume-feild feild-flex-2">
                                  <div class="single-input">
                                     <label for="Phone">Company Name:</label>
                                     <input type="text" formControlName="companyName"  >
                                     <p *ngIf="companyName.touched && companyName.invalid" class="text-danger">Company Name is required</p>
                                  </div>
                                  <div class="single-input">
                                     <label for="Email">Job Title:</label>
                                     <input type="text" formControlName="jobTitle">
                                     <p *ngIf="jobTitle.touched && jobTitle.invalid" class="text-danger">Job title is required</p>
                                  </div>
                               </div>
                               <div class="single-resume-feild feild-flex-2">
                                  <div class="single-input">
                                    <mat-form-field>
                                      <input matInput [matDatepicker]="picker" placeholder="From" formControlName="startDate">
                                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                      <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>
                                    <p *ngIf="startDate.touched && startDate.invalid" class="text-danger">worked From Date is required</p>
                                  </div>
                                  <div class="single-input">
                                    <mat-form-field>
                                      <input matInput [matDatepicker]="picker2" placeholder="To" formControlName="endDate">
                                      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                      <mat-datepicker #picker2></mat-datepicker>
                                    </mat-form-field>
                                    <p *ngIf="endDate.touched && endDate.invalid" class="text-danger">worked To Date is required</p>
                                  </div>
                               </div>
                               <div class="single-resume-feild feild-flex-2">
                                  <div class="single-input">
                                     <label for="Phone">City</label>
                                     <input type="text" formControlName="city" >
                                     <p *ngIf="city.touched && city.invalid" class="text-danger">City is required</p>
                                  </div>
                                  <div class="single-input">
                                     <label for="Email">State</label>
                                     <input type="text" formControlName="state" >
                                     <p *ngIf="state.touched && state.invalid" class="text-danger">State is required</p>
                                  </div>
                               </div>
                               <div class="single-resume-feild feild-flex-2">
                                  <div class="single-input">
                                     <label for="Phone">Contact Name:</label>
                                     <input type="text" formControlName="contactName">
                                     <p *ngIf="contactName.touched && contactName.invalid" class="text-danger">Contact Name is required</p>
                                  </div>
                                  <div class="single-input">
                                     <label for="Email">Contact Phone Number</label>
                                     <input type="text" formControlName="contactPhoneNumber" >
                                     <p *ngIf="contactPhoneNumber.touched && contactPhoneNumber.invalid" class="text-danger">contactPhoneNumber is required</p>
                                  </div>
                               </div>
                              <div class="single-resume-feild ">
                                 <div class="single-input">
                                    <label for="Bio">Additional Information</label>
                                    <textarea formControlName="addittionalInfo"></textarea>
                                 </div>
                                 <div class="single-input">
                                <button type="submit" class="btn jobguru-btn-2">Add Work Experience</button>  
                               
                                </div>
                              </div>
                              
                           </div>
                           <div *ngIf="workForm.errors">
                            <div class="notification danger"  id="signUpError">
                                <span>Please fill all the fields to add Work Experience
                                </span>
                                <button class="close-ntf" type="button">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                           
                        </div>
                           
                           
                           
                        </form>
                     </div>
                     
                  </div>
               </div>
                 <!-- end job head -->
                 <div class="candidate-list-page">
                    <!-- End Single Candidate List -->
                    <div class="single-candidate-list" *ngFor="let history of (workHistory | async)?.workHistory;let count=index">
                       <div class="main-comment">
                          <div class="candidate-image">
                             <h3>{{count+1}}</h3>
                          </div>
                          <div class="candidate-text">
                             <div class="candidate-info">
                                <div class="candidate-title">
                                   <h3><a href="#">{{history.jobTitle}} at {{history.companyName}}</a></h3>
                                   
                                </div>
                                <p><span class="fa fa-map-marker"></span>{{history.city}} , {{history.state}}</p>
                             </div>
                             <div class="candidate-text-inner">
                                <p>{{history.addittionalInfo}}</p>
                                <p>Contact Name: {{history.contactName}}</p>
                                <p>Contact Phone:{{history.contactPhoneNumber}}</p>
                             </div>
                             <div class="candidate-text-bottom">
                                
                                <div class="candidate-text-box">
                                   <p class="open-icon"><i class="fa fa-clock"></i> {{history.startDate.toDate() | date}} - {{history.endDate.toDate() | date}} </p>
                                  
                                </div>
                                <div class="candidate-action">
                                   <button class="btn jobguru-btn-2" (click)="removeHistory(history)"><span class="fa fa-trash"></span></button>
                                   
                                </div>
                             </div>
                          </div>
                       </div>
                    </div>
                    <!-- End Single Candidate List -->
                   
                    
                   
                 </div>
            </div>
            <div class="col-lg-3 col-md-12 dashboard-left-border">
              <app-js-right--sidebar></app-js-right--sidebar>
            </div>
         </div>
      </div>
   </section>
  <app-footer></app-footer>