<app-header>

  </app-header>
  <section class="jobguru-breadcromb-area">
      
      
    </section>
    
    
   <!-- Breadcromb Area End -->
    
    
   <!-- Candidate Dashboard Area Start -->
   <section class="candidate-dashboard-area section_70">
      <div class="container">
         <div class="row">
            <div class="col-lg-2 col-md-12">
               <app-js-profile-side-bar></app-js-profile-side-bar>
            </div>
            <div class="col-lg-7 col-md-12">
               <div class="dashboard-right">
                  <div class="candidate-profile">
                     <div class="candidate-single-profile-info">
                        <div class="single-resume-feild resume-avatar">
                           <div class="resume-image">
                              <img src="assets/img/author.jpg" alt="resume avatar">
                              <div class="resume-avatar-hover">
                                 <div class="resume-avatar-upload">
                                    <p>
                                       <i class="fa fa-pencil"></i>
                                       Edit
                                    </p>
                                    <input type="file">
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="candidate-single-profile-info">
                        <form>
                           <div class="resume-box">
                              <h3>Work Experience</h3>
                              <div class="single-resume-feild feild-flex-2">
                                  <div class="single-input">
                                     <label for="Phone">Company Name:</label>
                                     <input type="text" value="+88-123-4467-9" id="Phone">
                                  </div>
                                  <div class="single-input">
                                     <label for="Email">Job Title:</label>
                                     <input type="text" value="90838155262" id="Email">
                                  </div>
                               </div>
                               <div class="single-resume-feild feild-flex-2">
                                  <div class="single-input">
                                     <label for="Phone">From :</label>
                                     <input type="text" placeholder="06-11-2017" id="datepicker_to3" class="datepicker">
                                  </div>
                                  <div class="single-input">
                                     <label for="Email">To:</label>
                                     <input type="text" placeholder="06-11-2017" id="datepicker_to2" class="datepicker">
                                  </div>
                               </div>
                               <div class="single-resume-feild feild-flex-2">
                                  <div class="single-input">
                                     <label for="Phone">City</label>
                                     <input type="text" placeholder="city" >
                                  </div>
                                  <div class="single-input">
                                     <label for="Email">State</label>
                                     <input type="text" placeholder="state" >
                                  </div>
                               </div>
                               <div class="single-resume-feild feild-flex-2">
                                  <div class="single-input">
                                     <label for="Phone">Contact Name:</label>
                                     <input type="text" placeholder="Name">
                                  </div>
                                  <div class="single-input">
                                     <label for="Email">Contact Phone Number</label>
                                     <input type="text" placeholder="Phone Number" >
                                  </div>
                               </div>
                              <div class="single-resume-feild ">
                                 <div class="single-input">
                                    <label for="Bio">Additional Information</label>
                                    <textarea id="Bio"></textarea>
                                 </div>
                                 <div class="single-input">
                                <button class="btn jobguru-btn-2">Add Work Experience</button>  
                                </div>
                              </div>
                              
                           </div>
                           
                           
                           
                        </form>
                     </div>
                     
                  </div>
               </div>
                 <!-- end job head -->
                 <div class="candidate-list-page">
                    <!-- End Single Candidate List -->
                    <div class="single-candidate-list">
                       <div class="main-comment">
                          <div class="candidate-image">
                             <h3>1. </h3>
                          </div>
                          <div class="candidate-text">
                             <div class="candidate-info">
                                <div class="candidate-title">
                                   <h3><a href="#">Job Title Here at Bluebird Dentals</a></h3>
                                   
                                </div>
                                <p><span class="fa fa-map-marker"></span>Hillsborough, NJ</p>
                             </div>
                             <div class="candidate-text-inner">
                                <p>Aditional information Here</p>
                                <p>Contact Name: Phillis Envoy</p>
                                <p>Contact Phone: 093883038838</p>
                             </div>
                             <div class="candidate-text-bottom">
                                
                                <div class="candidate-text-box">
                                   <p class="open-icon"><i class="fa fa-clock"></i> 10/11/2017 - 10/12/2018 </p>
                                  
                                </div>
                                <div class="candidate-action">
                                   <a href="#" class="jobguru-btn-2"><span class="fa fa-trash"></span></a>
                                   <a href="#" class="jobguru-btn-2"><span class="fa fa-pencil"></span></a>
                                </div>
                             </div>
                          </div>
                       </div>
                    </div>
                    <!-- End Single Candidate List -->
                   
                    <div class="single-candidate-list">
                        <div class="main-comment">
                           <div class="candidate-image">
                              <h3>2. </h3>
                           </div>
                           <div class="candidate-text">
                              <div class="candidate-info">
                                 <div class="candidate-title">
                                    <h3><a href="#">Job Title Here at Bluebird Dentals</a></h3>
                                    
                                 </div>
                                 <p><span class="fa fa-map-marker"></span>Hillsborough, NJ</p>
                              </div>
                              <div class="candidate-text-inner">
                                 <p>Aditional information Here</p>
                                 <p>Contact Name: Phillis Envoy</p>
                                 <p>Contact Phone: 093883038838</p>
                              </div>
                              <div class="candidate-text-bottom">
                                 
                                 <div class="candidate-text-box">
                                    <p class="open-icon"><i class="fa fa-clock"></i> 10/11/2017 - 10/12/2018 </p>
                                   
                                 </div>
                                 <div class="candidate-action">
                                    <a href="#" class="jobguru-btn-2"><span class="fa fa-trash"></span></a>
                                    <a href="#" class="jobguru-btn-2"><span class="fa fa-pencil"></span></a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="single-candidate-list">
                        <div class="main-comment">
                           <div class="candidate-image">
                              <h3>3. </h3>
                           </div>
                           <div class="candidate-text">
                              <div class="candidate-info">
                                 <div class="candidate-title">
                                    <h3><a href="#">Job Title Here at Bluebird Dentals</a></h3>
                                    
                                 </div>
                                 <p><span class="fa fa-map-marker"></span>Hillsborough, NJ</p>
                              </div>
                              <div class="candidate-text-inner">
                                 <p>Aditional information Here</p>
                                 <p>Contact Name: Phillis Envoy</p>
                                 <p>Contact Phone: 093883038838</p>
                              </div>
                              <div class="candidate-text-bottom">
                                 
                                 <div class="candidate-text-box">
                                    <p class="open-icon"><i class="fa fa-clock"></i> 10/11/2017 - 10/12/2018 </p>
                                   
                                 </div>
                                 <div class="candidate-action">
                                    <a href="#" class="jobguru-btn-2"><span class="fa fa-trash"></span></a>
                                    <a href="#" class="jobguru-btn-2"><span class="fa fa-pencil"></span></a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                   
                 </div>
            </div>
            <div class="col-lg-3 col-md-12 dashboard-left-border">
              <app-js-right--sidebar></app-js-right--sidebar>
            </div>
         </div>
      </div>
   </section>
  <app-footer></app-footer>