<div class="sigle-top-job">
    <div class="top-job-company-image">
       <h3>Availability</h3>
       <p>More than 30 hrs a week</p>
    </div>
    <div class="top-job-company-desc">
      <div class="single-resume-feild feild-flex-2">
        <div class="single-input">
           <label for="contry">State:</label>
           <select id="contry">
              <option>Less than 10 hrs a week</option>
              <option>10-15 hrs a week</option>
              <option>15-20hrs a week</option>
              <option>20-30 hrs a week</option>
              <option selected>30-35 hrs a week</option>
              <option selected>more than 35 hrs a week</option>
              <option>Available for full-time opportunity</option>
              
           </select>
        </div>
       
     </div>
       <div class="top-job-company-btn">
          <a href="#" class="jobguru-btn-2">Save changes</a>
       </div>
    </div>
 </div>
 <div class="sigle-top-job">
  <div class="top-job-company-image">
     <h3>Language</h3>
     <p>Native English</p>
  </div>
  <div class="top-job-company-desc">
    <div class="single-resume-feild feild-flex-2">
      <div class="single-input">
         <label for="contry">Language:</label>
         <select id="contry">
            <option>German</option>
            <option>Spanish</option>
            <option>French</option>
            <option>Russian</option>
            <option selected>English</option>
           
            
         </select>
      </div>
     
   </div>
   <div class="single-resume-feild feild-flex-2">
    <div class="single-input">
       <label for="contry">Fluency</label>
       <select id="contry">
          <option>Basic</option>
          <option>Fluent</option>
          <option>Conversational</option>
          <option>Native/Bilingual</option>
       
          
       </select>
    </div>
   
 </div>
     <div class="top-job-company-btn">
        <a href="#" class="jobguru-btn-2">Save changes</a>
     </div>
  </div>
</div>
<div class="sigle-top-job">
<div class="top-job-company-image">
   <h3>Location</h3>
   <p>345 Hill Drive, Hillsborough,NJ</p>
</div>
<div class="top-job-company-desc">
  <div class="single-resume-feild feild-flex-2">
    <div class="single-input">
       <label for="contry">Address</label>
      <input type="text" placeholder="type your address here">
    </div>
   
 </div>
 
   <div class="top-job-company-btn">
      <a href="#" class="jobguru-btn-2">Save Changes</a>
   </div>
</div>
</div>
