<div class="sigle-top-job">
    <div class="top-job-company-image">
       <h3>Availability</h3>
       <p *ngIf="!(userInfo)?.availability">Availability Not Updated</p>
<p *ngIf="(userInfo)?.availability!='fulltime' && (userInfo)?.availability">Available a Maximum of {{(userInfo)?.availability}} Hours a week</p>
      <p *ngIf="((userInfo)?.availability)=='fulltime' && (userInfo)?.availability"> Available for a full-time oppotunity</p>
       <p></p>
    </div>
    <div class="top-job-company-desc">
      <div class="single-resume-feild feild-flex-2">
        <div class="single-input">
           <label for="contry">Select Availability:</label>
           <select id="contry" #availability>
              <option value="10">Less than 10 hrs a week</option>
              <option value="15">10-15 hrs a week</option>
              <option value="20">15-20hrs a week</option>
              <option value="30">20-30 hrs a week</option>
              <option  value="35">30-35 hrs a week</option>
              <option value="40">more than 35 hrs a week</option>
              <option value="fulltime">Available for full-time opportunity</option>
              
           </select>
        </div>
       
     </div>
       <div class="top-job-company-btn">
          <button class=" btn jobguru-btn-2" (click)="updateAvailability(availability)">Save changes</button>
       </div>
    </div>
 </div>
 <div class="sigle-top-job">
  <div class="top-job-company-image">
     <h3>Language</h3>
     <p *ngIf="(userInfo)?.language">{{(userInfo)?.language?.fluency}}   {{(userInfo)?.language?.language}}</p>
  </div>
  <div class="top-job-company-desc">
    <div class="single-resume-feild feild-flex-2">
      <div class="single-input">
         <label for="contry">Language:</label>
         <select #language>
            <option value="English">English</option>
            <option value="german">German</option>
            <option value="spanish">Spanish</option>
            <option value="French">French</option>
            <option value="Russian">Russian</option>
           
           
            
         </select>
      </div>
     
   </div>
   <div class="single-resume-feild feild-flex-2">
    <div class="single-input">
       <label for="contry">Fluency</label>
       <select #fluency>
          <option value="Basic">Basic</option>
          <option value="Fluent">Fluent</option>
          <option value="Conversational">Conversational</option>
          <option value="Native/Bilingual">Native/Bilingual</option>
       
          
       </select>
    </div>
   
 </div>
     <div class="top-job-company-btn">
        <button class="btn jobguru-btn-2" (click)="updateLanguage(language,fluency)">Save changes</button>
     </div>
  </div>
</div>
<div class="sigle-top-job">
<div class="top-job-company-image">
   <h3>Location</h3>
   <p>{{(userInfo)?.address}},{{(userInfo)?.state}}, {{(userInfo)?.city}}, {{(userInfo)?.zip}}</p>
</div>

</div>
