<div class="dashboard-left">
  <ul class="dashboard-menu">
     <li>
        <a routerLink="/jobseeker/dashboard">
        
        Dashboard
        </a>
     </li>
     <li><a routerLink="/jobseeker/profile">Contact Info</a></li>
     <li><a routerLink="/jobseeker/profile/workhistory">Work History</a></li>
     <li><a routerLink="/jobseeker/profile/emergencyinfo">Emergency Info</a></li>
     <li><a routerLink="/jobseeker/profile/educationhistory">Education History</a></li>
     <li><a routerLink="/jobseeker/profile/documents">Documents</a></li>
     <li><a routerLink="/jobseeker/profile/certifications">Certifications</a></li>
     <li><a routerLink="/jobseeker/checklist">Checklist</a></li>
  </ul>
</div>