<app-header>

  </app-header>
  <section class="jobguru-breadcromb-area">
      
      
    </section>
    
    
   <!-- Breadcromb Area End -->
    
    
   <!-- Candidate Dashboard Area Start -->
   <section class="candidate-dashboard-area section_70">
      <div class="container">
         <div class="row">
            <div class="col-lg-2 col-md-12">
               <app-js-profile-side-bar></app-js-profile-side-bar>
            </div>
            <div class="col-lg-7 col-md-12">
               <div class="dashboard-right">
                  <div class="candidate-profile">
                    <app-profile-pic></app-profile-pic>
                     <div class="candidate-single-profile-info">
                        <form [formGroup]="emergencyForm" (ngSubmit)="addEmergencyInfo()">
                           <div class="resume-box">
                              <h3>Emergency Information</h3>
                              <div class="single-resume-feild feild-flex-2">
                                  <div class="single-input">
                                     <label for="Phone">Name:</label>
                                     <input type="text" formControlName="name" >
                                     <p *ngIf="name.touched && name.invalid" class="text-danger">Name is required</p>
                                  </div>
                                  <div class="single-input">
                                     <label for="Email">phone:</label>
                                     <input type="text" formControlName="phone" >
                                     <p *ngIf="phone.touched && phone.invalid" class="text-danger">Phone is required</p>
                                  </div>
                               </div>
                               <div class="single-resume-feild feild-flex-2">
                                  <div class="single-input">
                                      <label for="Phone">Email:</label>
                                      <input type="text" formControlName="email" >
                                      <p *ngIf="email.touched && email.invalid" class="text-danger">Invalid email</p>
                                   </div>
                                  <div class="single-input">
                                     <label for="Phone">Relationship:</label>
                                     <input type="text" formControlName="relationShip">
                                     <p *ngIf="relationShip.touched && relationShip.invalid" class="text-danger">Phone Number is required</p>
                                  </div>
                                  
                               </div>
                              
                              <div class="single-resume-feild ">
                                 
                                 <div class="single-input">
                                <button class="btn jobguru-btn-2">Add Emergency Info</button>  
                                </div>

                              </div>
                              
                           </div>
                            <div *ngIf="emergencyForm.errors">
                            <div class="notification danger"  id="signUpError">
                                <span>Please fill all the fields to add Emergency Info
                                </span>
                                <button class="close-ntf" type="button">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                           
                        </div>
                           
                           
                        </form>
                     </div>
                     
                  </div>
               </div>
                 <!-- end job head -->
                 <div class="candidate-list-page">
                    <!-- End Single Candidate List -->
                    <div class="single-candidate-list" *ngFor="let emergency of (emergencyInfo | async)?.emergencyInfo;let count=index">
                        <div class="main-comment">
                           <div class="candidate-image">
                              <h3>{{count+1}} </h3>
                           </div>
                           <div class="candidate-text">
                              <div class="candidate-info">
                                 <div class="candidate-title">
                                    <h3><a >{{emergency.name}}</a></h3>
                                    
                                 </div>
                                 <p><span class="fa fa-envelope"></span> {{emergency.email}}</p>
                               
                              </div>
                              <div class="candidate-text-inner">
                                
                               
                                 <p>Phone: {{emergency.phone}}</p>
                              </div>
                              <div class="candidate-text-bottom">
                                 
                                 <div class="candidate-text-box">
                                    <p class="open-icon"><i class="fa fa-arrow-right"></i> {{emergency.relationShip}} </p>
                                   
                                 </div>
                                 <div class="candidate-action">
                                    <button (click)="removeEmergencyInfo(emergency,index)" class="btn jobguru-btn-2" ><span class="fa fa-trash"></span></button>
                                    
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                    <!-- End Single Candidate List -->
                    
                   
                 </div>
            </div>
            <div class="col-lg-3 col-md-12 dashboard-left-border">
              <app-js-right--sidebar></app-js-right--sidebar>
            </div>
         </div>
      </div>
   </section>
  <app-footer></app-footer>
