<app-header>

  </app-header>
  <section class="jobguru-breadcromb-area">
      
      
    </section>
    
    
   <!-- Breadcromb Area End -->
    
    
   <!-- Candidate Dashboard Area Start -->
   <section class="candidate-dashboard-area section_70">
      <div class="container">
         <div class="row">
            <div class="col-lg-3 col-md-12 ">
                <app-admin-side-bar></app-admin-side-bar>
            </div>
            <div class="col-lg-9 col-md-12">
                <div class="earnings-page-box manage-jobs">
                    <div class="manage-jobs-heading">
                       <h3> Search Job Seekers</h3>
                    </div>
                    <form>
                        <div class="resume-box">
                    
                        <div class="single-resume-feild feild-flex-2 ">
                            <div class="single-input">
                                <label for="Phone"> Keyword :</label>
                                <input type="text" placeholder="keyword" >
                            </div>
                            <div class="single-input">
                                <label for="Phone">From :</label>
                                <input type="text" placeholder="06-11-2017" id="datepicker_23" class="datepicker">
                            </div>
                          
                            <div class="single-input">
                                <label for="Phone">To :</label>
                                <input type="text" placeholder="06-11-2017" id="datepicker_8" class="datepicker">
                            </div>
                            
                       </div>
                       <div class="single-resume-feild feild-flex-2 ">
                          <div class="single-input">
                              <label for="Phone">Industry</label>
                              <select>
                                  <option>Health Care</option>
                                  <option>IT Industry</option>
                                </select>
                          </div>
                          <div class="single-input">
                              <label for="Phone">State</label>
                             <select>
                               <option>Alabama</option>
                               <option>Oklahoma</option>
                             </select>
                          </div>
                        
                          <div class="single-input">
                              <label for="Phone">profile completeness</label>
                              <select>
                                  <option>Select option here</option>
                                  <option>90-100%</option>
                                  <option>80-90%</option>
                                  <option>70-80%</option>
                                  <option>60-70%</option>
                                  <option>50-60%</option>
                                  <option>40-50%</option>
                                  <option>30-40%</option>
                                  <option>below 30%</option>
                                </select>
                          </div>
                          
                     </div>
                       <div class="single-resume-feild feild-flex-2 ">
                          <button  class="btn jobguru-btn-2">Search</button>
                          
                         
                       </div>
                       </div>
                     </form>
                     
                     <div class="candidate-list-page">
                        <!-- End Single Candidate List -->
                        <!-- End Single Candidate List -->
                        <div class="single-candidate-list">
                            <div class="main-comment">
                               <div class="candidate-image">
                                  <img src="assets/img/msg-2.png" alt="author">
                               </div>
                               <div class="candidate-text">
                                  <div class="candidate-info">
                                     <div class="candidate-title">
                                        <h3><a href="#">Singlelyn Enterprises</a></h3>
                                        <span class="fa fa-star starred"></span>
                                        <span class="fa fa-star starred"></span>
                                        <span class="fa fa-star starred"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                     </div>
                                     <p><a><span class="fa fa-mgraduation-cap"></span>20 Jobs</a></p>
                                  </div>
                                  <div class="candidate-text-inner">
                                     <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam eu velit cursus, tempor ipsum in, tempus lectus. Nullam tempus nisi id nisl luctus, non tempor justo molestie....</p>
                                     <p style="font-size: large"><span class=" badge badge-pill badge-primary">Industry 1</span>&nbsp;<span class="badge badge-primary">Industry 2 </span>&nbsp;<span class="badge badge-primary">Industry 3</span></p>
 
                                  </div>
                                  <div class="candidate-text-bottom">
                                     <div class="candidate-text-box">
                                        <p class="open-icon" title="availability"><i class="fa fa-tachometer"></i> Hired 20 times </p>
                                        <p class="company-state" title="town and state"><i class="fa fa-map-marker"></i> Manville, NJ</p>
                                        <p class="varify" title="rate of pay"><i class="fa fa-money"></i> Total Paid: $300</p>
                                     </div>
                                     <div class="candidate-action">
                                         <button  class="btn  btn-primary table-btn" matTooltip="View Employer Profile"><span class="fa fa-eye"></span></button>
                                         <button  class="btn  btn-warning table-btn" matTooltip="Remove user profile"><span class="fa fa-ban"></span></button>
                                         <button  class="btn  jobguru-btn-2 table-btn" matTooltip="Send a message"><span class="fa fa-envelope"></span></button>
                                         <button  class="btn  btn-warning table-btn" matTooltip="View payments by this employer"><span class="fa fa-money"></span></button>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <hr>
                         <!-- End Single Candidate List -->
                          <!-- End Single Candidate List -->
                        <div class="single-candidate-list">
                            <div class="main-comment">
                               <div class="candidate-image">
                                  <img src="assets/img/msg-2.png" alt="author">
                               </div>
                               <div class="candidate-text">
                                  <div class="candidate-info">
                                     <div class="candidate-title">
                                        <h3><a href="#">Singlelyn Enterprises</a></h3>
                                        <span class="fa fa-star starred"></span>
                                        <span class="fa fa-star starred"></span>
                                        <span class="fa fa-star starred"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                     </div>
                                     <p><a><span class="fa fa-mgraduation-cap"></span>20 Jobs</a></p>
                                  </div>
                                  <div class="candidate-text-inner">
                                     <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam eu velit cursus, tempor ipsum in, tempus lectus. Nullam tempus nisi id nisl luctus, non tempor justo molestie....</p>
                                     <p style="font-size: large"><span class=" badge badge-pill badge-primary">Industry 1</span>&nbsp;<span class="badge badge-primary">Industry 2 </span>&nbsp;<span class="badge badge-primary">Industry 3</span></p>
 
                                  </div>
                                  <div class="candidate-text-bottom">
                                     <div class="candidate-text-box">
                                        <p class="open-icon" title="availability"><i class="fa fa-tachometer"></i> Hired 20 times </p>
                                        <p class="company-state" title="town and state"><i class="fa fa-map-marker"></i> Manville, NJ</p>
                                        <p class="varify" title="rate of pay"><i class="fa fa-money"></i> Total Paid: $300</p>
                                     </div>
                                     <div class="candidate-action">
                                         <button  class="btn  btn-primary table-btn" matTooltip="View Employer Profile"><span class="fa fa-eye"></span></button>
                                         <button  class="btn  btn-warning table-btn" matTooltip="Remove user profile"><span class="fa fa-ban"></span></button>
                                         <button  class="btn  jobguru-btn-2 table-btn" matTooltip="Send a message"><span class="fa fa-envelope"></span></button>
                                         <button  class="btn  btn-warning table-btn" matTooltip="View payments by this employer"><span class="fa fa-money"></span></button>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <hr>
                         <!-- End Single Candidate List -->
                        
                     </div>
                      <div class="pagination-box-row">
                          <p>Page 1 of 6</p>
                          <ul class="pagination">
                             <li class="active"><a href="#">1</a></li>
                             <li><a href="#">2</a></li>
                             <li><a href="#">3</a></li>
                             <li>...</li>
                             <li><a href="#">6</a></li>
                             <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                          </ul>
                       </div>

 
                                   </div>
            </div>
           
         </div>
      </div>
   </section>
  <app-footer></app-footer>

