<app-header>

</app-header>
<!-- Categories Area Start -->

<section class="jobguru-breadcromb-area">
    <div class="breadcromb-top section_100">
       <div class="container">
          <div class="row">
             <div class="col-md-12">
                <div class="breadcromb-box">
                   <h3>Sign up as</h3>
                </div>
             </div>
          </div>
       </div>
    </div>
    <div class="breadcromb-bottom">
       <div class="container">
          <div class="row">
             <div class="col-md-12">
                <div class="breadcromb-box-pagin">
                   <ul>
                      <li><a href="#">home</a></li>
                      <li><a href="#">user</a></li>
                      <li class="active-breadcromb"><a routerLink="/account/options">Register</a></li>
                   </ul>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>
<section class="jobguru-categories-area section_70">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="site-heading">
                <h2>Sign up <span> </span></h2>
                <p>Select an option below</p>
             </div>
          </div>
       </div>
       <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6">
             <a routerLink="/accounts/employer/signup" class="single-category-holder account_cat">
                <div class="category-holder-icon">
                   <i class="fa fa-briefcase"></i>
                </div>
                <div class="category-holder-text">
                   <h3>Hirer/Employer</h3>
                </div>
                <img src="assets/img/account_cat.jpg" alt="category" />
             </a>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
             <a  routerLink="/accounts/employee/signup" class="single-category-holder design_cat">
                <div class="category-holder-icon">
                   <i class="fa fa-pencil-square-o"></i>
                </div>
                <div class="category-holder-text">
                   <h3>Job Seeker/Employee</h3>
                </div>
                <img src="assets/img/design_art.jpg" alt="category" />
             </a>
          </div>
        
    </div></div>
  </section>
  <!-- Categories Area End -->
<app-footer>

</app-footer>