<app-header></app-header>
<section class="jobguru-breadcromb-area">
    
    
  </section>
  <section class="jobguru-top-job-area browse-page section_70">
      <div class="container">
         <div class="row">
            <div class="col-md-12 col-lg-3">
              <app-employer-main-sidebar></app-employer-main-sidebar>
            </div>
            <div class="col-md-12 col-lg-9">
                <div class="dashboard-right">
                
                    <div class="earnings-page-box manage-jobs">
                       <div class="manage-jobs-heading">
                          <h3>Payments</h3>
                       </div>
                       <div class="earnings-flex">
                          <div class="single-earnings">
                             <div class="earnings-icon">
                                <i class="fa fa-line-chart"></i>
                             </div>
                             <h4>Total Payments</h4>
                             <h2>$500</h2>
                             <p>Total Payments Made</p>
                          </div>
                          <div class="single-earnings">
                             <div class="earnings-icon">
                                <i class="fa fa-line-chart"></i>
                             </div>
                             <h4>Payments -Last 30Days</h4>
                             <h2>$300</h2>
                             <p></p>
                             <p>Payments In the last 30 days</p>
                            
                          </div>
                          <div class="single-earnings">
                              <div class="earnings-icon">
                                 <i class="fa fa-line-chart"></i>
                              </div>
                              <h4>Pending Payments</h4>
                              <h2>0</h2>
                              <p></p>
                              <p>failed payments</p>
                             
                           </div>
                           
                          
                       </div>
                       <div class="manage-jobs-heading">
                         <br>
                          <h3>Payment Methods</h3>
                       </div>
                       <div class="balance-box-flex">
                          <div class="transfer-balance single-balance-box ">
                              <h3>Visa -*45674<span><a routerLink="/employer/profile">update payment method</a></span></h3>
                              <img src="../../../../assets/img/visa.gif" alt="paypal" />
                           </div>
                           <div class="transfer-balance single-balance-box ">
                              <h3>Visa -*45674<span><a routerLink="/employer/profile">update payment method</a></span></h3>
                              <img src="../../../../assets/img/visa.gif" alt="paypal" />
                           </div>
                           
                          
                         
                       </div>
                      
    
                       <div class="balance-transfer-btn">
                          <a href="#" class="jobguru-btn-2"><span class="fa fa-chevron-left"></span>   Back home</a>
                       </div>
                       <div class="manage-jobs-heading">
                         <br>
                          <h3>Payments</h3>
                       </div>
                    </div>
                 </div>
               <div class="job-grid-right">
                  <div class="browse-job-head-option">
                      <div class="job-browse-search">
                         <form>
                            <input type="search" placeholder="Search payments here ....">
                            <button type="submit"><i class="fa fa-search"></i></button>
                         </form>
                      </div>
                      <div class="job-browse-action">
                         <div class="email-alerts">
                            <input type="checkbox" class="styled" id="b_1">
                            <label class="styled" for="b_1">view all payments</label>
                         </div>
                         <div class="dropdown">
                            <button class="btn-dropdown dropdown-toggle" type="button" id="dropdowncur" data-toggle="dropdown" aria-haspopup="true">Sort By</button>
                            <ul class="dropdown-menu" aria-labelledby="dropdowncur">
                               <li>Newest</li>
                               <li>Oldest</li>
                               
                              
                            </ul>
                         </div>
                      </div>
                      
   
                   </div>
                  <!-- end job head -->
                  <div class="candidate-list-page">
                      <!-- End Single Candidate List -->
                      <div class="single-candidate-list">
                         <div class="main-comment">
                            <div class="candidate-image">
                               <img src="assets/img/msg-2.png" alt="author">
                            </div>
                            <div class="candidate-text">
                               <div class="candidate-info">
                                  <div class="candidate-title">
                                     <h3><a href="#">Job Title</a></h3>
                                     
                                  </div>
                                  <p><span class="fa fa-mgraduation-cap"></span> Hired John Doe</p>
                               </div>
                               <div class="candidate-text-inner">
                                                       <p><i class="fa fa-arrow-right"></i> Received On: 11/12/2018(12.20pm)</p>
                                                       <p> <i class="fa fa-money"></i> Amount : $25.00</p>
                                                       
                               </div>
                               <div class="candidate-text-bottom">
                                  <div class="candidate-text-box">
                                     <p class="open-icon" title="availability"></p>
                                     <p class="company-state" title="town and state"></p>
                                     <p class="varify" title="rate of pay"></p>
                                  </div>
                                  <div class="candidate-action">
                                     <a href="#" class="jobguru-btn-2">Print Receipt</a>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                      <!-- End Single Candidate List -->
                      <div class="single-candidate-list">
                        <div class="main-comment">
                           <div class="candidate-image">
                              <img src="assets/img/msg-2.png" alt="author">
                           </div>
                           <div class="candidate-text">
                              <div class="candidate-info">
                                 <div class="candidate-title">
                                    <h3><a href="#">Job Title</a></h3>
                                   
                                 </div>
                                 <p><span class="fa fa-mgraduation-cap"></span> Hired John Doe</p>
                              </div>
                              <div class="candidate-text-inner">
                                                      <p><i class="fa fa-arrow-right"></i> Received On: 11/12/2018(12.20pm)</p>
                                                      <p> <i class="fa fa-money"></i> Amount: $25.00</p>
                                                      
                              </div>
                              <div class="candidate-text-bottom">
                                 <div class="candidate-text-box">
                                    <p class="open-icon" title="availability"></p>
                                    <p class="company-state" title="town and state"></p>
                                    <p class="varify" title="rate of pay"></p>
                                 </div>
                                 <div class="candidate-action">
                                    <a href="#" class="jobguru-btn-2">Print Receipt</a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- End Single Candidate List -->
                     
                     
                   </div>
                  <div class="pagination-box-row">
                     <p>Page 1 of 6</p>
                     <ul class="pagination">
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li>...</li>
                        <li><a href="#">6</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
<app-footer></app-footer>
