<app-header>

  </app-header>
  <section class="jobguru-breadcromb-area">
      
      
    </section>
    
    
   <!-- Breadcromb Area End -->
    
    
   <!-- Candidate Dashboard Area Start -->
   <section class="candidate-dashboard-area section_70">
      <div class="container">
         <div class="row">
            <div class="col-lg-2 col-md-12">
               <app-js-profile-side-bar></app-js-profile-side-bar>
            </div>
            <div class="col-lg-7 col-md-12">
               <div class="dashboard-right">
                  <div class="candidate-profile">
                     <div class="candidate-single-profile-info">
                        <div class="single-resume-feild resume-avatar">
                           <div class="resume-image">
                              <img src="assets/img/author.jpg" alt="resume avatar">
                              <div class="resume-avatar-hover">
                                 <div class="resume-avatar-upload">
                                    <p>
                                       <i class="fa fa-pencil"></i>
                                       Edit
                                    </p>
                                    <input type="file">
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="candidate-single-profile-info">
                        <form>
                           <div class="resume-box">
                              <h3>Upload Goverment ID, SSN, Resume</h3>
                              <p> You can only upload your government ID and SSN before approval, after approval this options will be locked. </p>
                              <div class="single-resume-feild feild-flex-2">
                                  <div class="single-input">
                                     <label for="Phone">License</label>
                                   <select>
<option>Goverment ID</option>
<option>Social Security</option>
<option>Resume</option>


                                   </select>
                                  </div>
                                  
                               </div>
                              
                               <div class="single-resume-feild feild-flex-2">
                                  <div class="single-input">
                                      <label for="w_screen">Upload Scan of the License</label>
                                      <div class="product-upload">
                                         <p>
                                            <i class="fa fa-upload"></i>
                                            Max file size is 3MB,Suitable files are .jpg &amp; .pdf
                                         </p>
                                         <input type="file" id="w_screen">
                                      </div>
                                   </div>
                               </div>
                               
                              <div class="single-resume-feild ">
                                 <div class="single-input">
                                    <label for="Bio">Description</label>
                                    <textarea id="Bio"></textarea>
                                 </div>
                                 <div class="single-input">
                                <button class="btn jobguru-btn-2">Add Document</button>  
                                </div>
                              </div>
                              
                           </div>
                           
                           
                           
                        </form>
                     </div>
                     
                  </div>
               </div>
                 <!-- end job head -->
                 <div class="candidate-list-page">
                    <!-- End Single Candidate List -->
                    <div class="single-candidate-list">
                       <div class="main-comment">
                          <div class="candidate-image">
                             <h3>1. </h3>
                          </div>
                          <div class="candidate-text">
                             <div class="candidate-info">
                                <div class="candidate-title">
                                   <h3><a href="#">Goverment ID</a></h3>
                                   
                                </div>
                                <p><span class="fa fa-file"></span><a>View Document</a> </p>
                             </div>
                             <div class="candidate-text-inner">
                                <p>Description  Here if any</p>
                               
                             </div>
                             <div class="candidate-text-bottom">
                                
                                <div class="candidate-text-box">
                                 
                                  
                                </div>
                                <div class="candidate-action">
                                   <a href="#" class="jobguru-btn-2"><span class="fa fa-trash"></span></a>
                                   <a href="#" class="jobguru-btn-2"><span class="fa fa-pencil"></span></a>
                                </div>
                             </div>
                          </div>
                       </div>
                    </div>
                    <!-- End Single Candidate List -->
                   
                    <div class="single-candidate-list">
                        <div class="main-comment">
                           <div class="candidate-image">
                              <h3>2. </h3>
                           </div>
                           <div class="candidate-text">
                              <div class="candidate-info">
                                 <div class="candidate-title">
                                    <h3><a href="#">Resume</a></h3>
                                    
                                 </div>
                                 <p><span class="fa fa-file"></span><a>View Document</a> </p>
                              </div>
                              <div class="candidate-text-inner">
                                 <p>Description  Here if any</p>
                                
                              </div>
                              <div class="candidate-text-bottom">
                                 
                                 <div class="candidate-text-box">
                                  
                                   
                                 </div>
                                 <div class="candidate-action">
                                    <a href="#" class="jobguru-btn-2"><span class="fa fa-trash"></span></a>
                                    <a href="#" class="jobguru-btn-2"><span class="fa fa-pencil"></span></a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- End Single Candidate List -->
                     <div class="single-candidate-list">
                        <div class="main-comment">
                           <div class="candidate-image">
                              <h3>3. </h3>
                           </div>
                           <div class="candidate-text">
                              <div class="candidate-info">
                                 <div class="candidate-title">
                                    <h3><a href="#">Social Security</a></h3>
                                    
                                 </div>
                                 <p><span class="fa fa-file"></span><a>View Document</a> </p>
                              </div>
                              <div class="candidate-text-inner">
                                 <p>Description  Here if any</p>
                                
                              </div>
                              <div class="candidate-text-bottom">
                                 
                                 <div class="candidate-text-box">
                                  
                                   
                                 </div>
                                 <div class="candidate-action">
                                    <a href="#" class="jobguru-btn-2"><span class="fa fa-trash"></span></a>
                                    <a href="#" class="jobguru-btn-2"><span class="fa fa-pencil"></span></a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- End Single Candidate List -->
                 
                 </div>
            </div>
            <div class="col-lg-3 col-md-12 dashboard-left-border">
              <app-js-right--sidebar></app-js-right--sidebar>
            </div>
         </div>
      </div>
   </section>
  <app-footer></app-footer>