<app-header>

  </app-header>
  <section class="jobguru-breadcromb-area">
      
      
    </section>
    
    
   <!-- Breadcromb Area End -->
    
    
   <!-- Candidate Dashboard Area Start -->
   <section class="candidate-dashboard-area section_70">
      <div class="container">
         <div class="row">
            <div class="col-lg-2 col-md-12">
               <app-js-profile-side-bar></app-js-profile-side-bar>
            </div>
            <div class="col-lg-7 col-md-12">
               <div class="dashboard-right">
                  <div class="candidate-profile">
                    <app-profile-pic></app-profile-pic>
                     <div class="candidate-single-profile-info">
                        <form>
                           <div class="resume-box">
                              <h3>Upload Goverment ID, SSN, Resume</h3>
                              
                              
                              
                               <div class="single-resume-feild feild-flex-2"  *ngIf="!isGovernmentID()">
                                
                                  <div class="single-input">
                                   <label>upload Government ID</label>
                                      <div class="product-upload">
                                         <p (click)="uploader.click()">
                                            <i class="fa fa-upload"></i>
                                            Max file size is 3MB,Suitable files are .jpg &amp; .pdf

                                         </p>
                                         <input type="file" id="w_screen"  (change)="uploadFile($event,'governmentID')">
                                         <p *ngIf="!governmentID" class="text-danger">You need to select Document to continue</p>
                                         <p *ngIf="governmentID" >{{governmentID.name}}</p>
                                      </div>
                                   </div>
                                  
                               </div>
                               <div class="single-resume-feild feild-flex-2"  *ngIf="!isSocialSecurity()">
                                  
                                <div class="single-input">
                                    <label>upload Social Security Number</label>
                                    <div class="product-upload">
                                       <p (click)="uploader.click()">
                                          <i class="fa fa-upload"></i>
                                          Max file size is 3MB,Suitable files are .jpg &amp; .pdf

                                       </p>
                                       <input type="file" id="w_screen"  (change)="uploadFile($event,'SSN')">
                                       <p *ngIf="!SSN" class="text-danger">You need to select Document to continue</p>
                                       <p *ngIf="SSN" >{{SSN.name}}</p>
                                    </div>
                                 </div>
                                  
                             </div>
                             <div class="single-resume-feild feild-flex-2" *ngIf="!isResume()">
                                  
                                <div class="single-input">
                                    <label>upload Resume</label>
                                    <div class="product-upload">
                                       <p (click)="uploader.click()">
                                          <i class="fa fa-upload"></i>
                                          Max file size is 3MB,Suitable files are .docx &amp; .pdf

                                       </p>
                                       <input type="file" id="w_screen" (change)="uploadFile($event,'RESUME')">
                                       <p *ngIf="!selectedFile" class="text-danger">You need to select Document to continue</p>
                                       <p *ngIf="selectedFile" >{{selectedFile.name}}</p>
                                    </div>
                                 </div>
                                 
                             </div>
                              
                              
                           </div>
                           
                           
                           
                        </form>
                     </div>
                     
                  </div>
               </div>
                 <!-- end job head -->
                 <div class="candidate-list-page">
                    <!-- End Single Candidate List -->
                    <div class="single-candidate-list">
                       <div class="main-comment">
                          <div class="candidate-image">
                             <h3>1. </h3>
                          </div>
                          <div class="candidate-text">
                             <div class="candidate-info">
                                <div class="candidate-title">
                                   <h3><a href="#">Goverment ID</a></h3>
                                   
                                </div>
                                <p *ngIf="isGovernmentID()"><span class="fa fa-file"></span><a href="{{isGovernmentID()}}">View Document</a> </p>
                             </div>
                             <div class="candidate-text-inner">
                                <p *ngIf="!isGovernmentID()" class="text-danger">Your government ID is not uploaded</p>
                                <p *ngIf="isGovernmentID()" >Government ID is aleady uploaded</p>
                             </div>
                             <div class="candidate-text-bottom">
                                
                                <div class="candidate-text-box">
                                 
                                  
                                </div>
                                <div class="candidate-action">
                                   <a href="#" class="jobguru-btn-2"><span class="fa fa-trash"></span></a>
                                   
                                </div>
                             </div>
                          </div>
                       </div>
                    </div>
                    <!-- End Single Candidate List -->
                   
                    <div class="single-candidate-list">
                        <div class="main-comment">
                           <div class="candidate-image">
                              <h3>2. </h3>
                           </div>
                           <div class="candidate-text">
                              <div class="candidate-info">
                                 <div class="candidate-title">
                                    <h3><a href="#">Resume</a></h3>
                                    
                                 </div>
                                 <p *ngIf="isGovernmentID()"><span class="fa fa-file"></span><a href="{{isSocialSecurity()}}">View Document</a> </p>
                              </div>
                              <div class="candidate-text-inner">
                                <p *ngIf="!isSocialSecurity()" class="text-danger">Your SSN is not uploaded</p>
                                <p *ngIf="isSocialSecurity()" >Social Security is already Uploaded</p>
                                
                              </div>
                              <div class="candidate-text-bottom">
                                 
                                 <div class="candidate-text-box">
                                  
                                   
                                 </div>
                                 <div class="candidate-action">
                                    <a href="#" class="jobguru-btn-2"><span class="fa fa-trash"></span></a>
                                   
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- End Single Candidate List -->
                     <div class="single-candidate-list">
                        <div class="main-comment">
                           <div class="candidate-image">
                              <h3>3. </h3>
                           </div>
                           <div class="candidate-text">
                              <div class="candidate-info">
                                 <div class="candidate-title">
                                    <h3><a href="#">Resume </a></h3>
                                    
                                 </div>
                                 <p *ngIf="isGovernmentID()"><span class="fa fa-file"></span><a href="{{isResume()}}">View Document</a> </p>
                              </div>
                              <div class="candidate-text-inner">
                                <p *ngIf="!isResume()" class="text-danger">Your Resume  is not uploaded</p>
                                <p *ngIf="isResume()" >Your Resume is Uploaded</p>
                                
                              </div>
                              <div class="candidate-text-bottom">
                                 
                                 <div class="candidate-text-box">
                                  
                                   
                                 </div>
                                 <div class="candidate-action">
                                    <a href="#" class="jobguru-btn-2"><span class="fa fa-trash"></span></a>
                                   
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- End Single Candidate List -->
                 
                 </div>
            </div>
            <div class="col-lg-3 col-md-12 dashboard-left-border">
              <app-js-right--sidebar></app-js-right--sidebar>
            </div>
         </div>
      </div>
   </section>
  <app-footer></app-footer>