<app-header></app-header>

<section class="jobguru-breadcromb-area">
    
    
 </section>
 <section class="candidate-dashboard-area section_70">
    <div class="container">
       <div class="row">
          <div class="col-lg-3 col-md-12 dashboard-left-border">
            <app-admin-side-bar></app-admin-side-bar>
          </div>
          <div class="col-lg-9 col-md-12">
             <div class="dashboard-right">
                
                <div class="earnings-page-box manage-jobs">
                   <div class="manage-jobs-heading">
                      <h3>Dashboard</h3>
                   </div>
                   <div class="earnings-flex">
                      <a class="single-earnings" href="#">
                         <div class="earnings-icon">
                            <i class="fa fa-line-chart"></i>
                         </div>
                         <h4>New Job Seeker Accounts</h4>
                         <h2>10</h2>
                         <p>In the last 30 days </p>
                        </a>
                      <div class="single-earnings">
                         <div class="earnings-icon">
                            <i class="fa fa-line-chart"></i>
                         </div>
                         <h4>New Employer Accounts</h4>
                         <h2>30</h2>
                         <p></p>
                         <p>In the last 30 days</p>
                        
                      </div>
                      <div class="single-earnings">
                          <div class="earnings-icon">
                             <i class="fa fa-line-chart"></i>
                          </div>
                          <h4>Pending Job Seeker Accounts</h4>
                          <h2>30</h2>
                          <p></p>
                          <p>In the last 30 days</p>
                         
                       </div>
                       
                      <div class="single-earnings">
                         <div class="earnings-icon">
                            <i class="fa fa-line-chart"></i>
                         </div>
                         <h4>Pending Employer Accounts</h4>
                         <h2>20</h2>
                         <p></p>
                         <p>In the last 30 days</p>
                      </div>
                   </div>
<br><br>
<div class="earnings-flex">
    <div class="single-earnings">
       <div class="earnings-icon">
          <i class="fa fa-line-chart"></i>
       </div>
       <h4>Approved Job Seeker Accounts</h4>
       <h2>10</h2>
       <p>In the last 30 days </p>
    </div>
    <div class="single-earnings">
       <div class="earnings-icon">
          <i class="fa fa-line-chart"></i>
       </div>
       <h4>Approved Employer Accounts</h4>
       <h2>30</h2>
       <p></p>
       <p>In the last 30 days</p>
      
    </div>
    <div class="single-earnings">
        <div class="earnings-icon">
           <i class="fa fa-line-chart"></i>
        </div>
        <h4>Total Job Seeker Accounts</h4>
        <h2>30</h2>
        <p></p>
        <p>all time</p>
       
     </div>
     
     <div class="single-earnings">
        <div class="earnings-icon">
           <i class="fa fa-line-chart"></i>
        </div>
        <h4>Total Employer Accounts</h4>
        <h2>30</h2>
        <p></p>
        <p>all time</p>
       
     </div>
 </div>
                   <div class="balance-box-flex">
                      <div class="transfer-balance single-balance-box ">
                          <h3>Total Payments <span><a routerLink="/employer/profile">View Payments</a></span></h3>
                          <h2>56</h2>
                          <p>In the Last 30 Days</p>
                          <a routerLink="/employer/payments" class="jobguru-btn-2 pull-right">View Payments</a>
                          
                       </div>
                       <div class="transfer-balance single-balance-box ">
                          <h3>Messages <span><a routerLink="/employer/checklist">Recent messages</a></span></h3>
                          <h2>56</h2>
                          <p>In the Last 30 Days</p>
                          <a routerLink="/employer/payments" class="jobguru-btn-2 pull-right">View Messages</a>
                          
                       </div>
                       
                      
                     
                   </div>
                   <div class="balance-box-flex">
                    <div class="transfer-balance single-balance-box ">
                        <h3>My Profile<span><a routerLink="/employer/profile">View Profile</a></span></h3>
                        <img src="../assets/img/payoneer.jpg" alt="paypal" />
                        <a routerLink="/employer/payments" class="jobguru-btn-2 pull-right">View Profile</a>
                        
                     </div>
                     <div class="transfer-balance single-balance-box ">
                        <h3>Total Payments <span><a routerLink="/employer/checklist">View Payments</a></span></h3>
                        <h2>$5,600,000</h2>
                        <p>Year of 2018</p>
                        <a routerLink="/employer/payments" class="jobguru-btn-2 pull-right">View Payments</a>
                        
                     </div>
                     
                    
                   
                 </div>
                   <div class="balance-box-flex">
                      <div class="my-balance single-balance-box ">
                          <div class="widget_chart_analytics_right">
                             <p>Last Login</p>
                             <p>11/10/2018 7.40p.m</p>
                          </div>
                          <h3>Login Activity </h3>
                          <h2>56</h2>
                          <p>Last 28 days</p>
                          
                       </div>
                       <div class="my-balance single-balance-box ">
                        <div class="widget_chart_analytics_right">
                          
                        </div>
                        <h3>Total Job Applications</h3>
                        <h2>1000</h2>
                        <p>Last 30 days</p>
                        <a href="#" class="jobguru-btn-2 pull-right">View Job Applications</a>
                     </div>

                   </div>
                   <div class="balance-box-flex">
                    <div class="my-balance single-balance-box ">
                        <div class="widget_chart_analytics_right">
                        
                        </div>
                        <h3>Total Job Invites</h3>
                        <h2>1000</h2>
                        <p>Last 30 days</p>
                        <a href="#" class="jobguru-btn-2 pull-right">View Job Invites</a>
                        
                     </div>
                     <div class="my-balance single-balance-box ">
                      <div class="widget_chart_analytics_right">
                        
                      </div>
                      <h3>Total Hired Jobs</h3>
                      <h2>1000</h2>
                      <p>Last 30 days</p>
                      <a href="#" class="jobguru-btn-2 pull-right">View Hired Jobs</a>
                   </div>

                 </div>
                   
                 

                   <div class="balance-transfer-btn">
                      <a href="#" class="jobguru-btn-2">Go to main Candidates Page</a>
                   </div>
                   <div class="manage-jobs-heading">
                     <br>
                      <h3>My Job Posts</h3>
                   </div>
                </div>
             </div>

             </div>
          </div>
       </div>
    
 </section>

<app-footer></app-footer>
