<app-header>

  </app-header>
  <section class="jobguru-breadcromb-area">
      
      
    </section>
    
    
   <!-- Breadcromb Area End -->
    
    
   <!-- Candidate Dashboard Area Start -->
   <section class="candidate-dashboard-area section_70">
      <div class="container">
         <div class="row">
            <div class="col-lg-3 col-md-12 ">
                <app-admin-side-bar></app-admin-side-bar>
            </div>
            <div class="col-lg-9 col-md-12">
                <div class="earnings-page-box manage-jobs">
                    <div class="manage-jobs-heading">
                       <h3>Payments</h3>
                    </div>
                  
                      

 
                    <div class="balance-box-flex">
                        <div class="transfer-balance single-balance-box ">
                            <h3>Total Payments <span><a  routerLink="/admin/payments/view">View Payments</a></span></h3>
                            <h2>$1,000,000</h2>
                            <p>In the Last 30 Days</p>
                            <a routerLink="/admin/payments/view" class="jobguru-btn-2 pull-right">View Payments</a>
                            
                         </div>
                      <div class="transfer-balance single-balance-box ">
                         <h3>Total Payments <span><a  routerLink="/admin/payments/view">View Payments</a></span></h3>
                         <h2>$5,600,000</h2>
                         <p>Year of 2018</p>
                         <a routerLink="/admin/payments/view" class="jobguru-btn-2 pull-right">View Payments</a>
                         
                      </div>
                      
                      
                    
                  </div>
                  <div class="manage-jobs-heading">
                    <br><br>
                      <h3>Payments this week</h3>
                   </div>
               
                    
                  
 
                  
                 </div>
                <div class="job-grid-right hidden-sm-down hidden-xl-up" >
                 
                    
                   
                    <div class="row">
                       <div class="col-lg-6 col-md-12">
                          <div class="sigle-top-job">
                             <div class="top-job-company-image">
                                <div class="company-logo-img">
                                   <a href="#">
                                   <img src="assets/img/company-logo-4.png" alt="company image" />
                                   </a>
                                </div>
                                <h3><a href="#">Singelyn Enterprises</a></h3>
                                <h6><a href="#">Hired James Ndichu</a></h6>
                             </div>
                             <div class="top-job-company-desc">
                               <strong><p>Paid On 12/11/2018 </p></strong>
                                <ul>
                                   <li>Job Type<span class="company-state"><i class="fa fa-check"></i>Recurring shift</span></li>
                                   
                                   <li>Amount Paid<span class="varify rating-company"><i class="fa fa-money "></i><strong>$25</strong></span></li>
                                </ul>
                                <a href="#" class="jobguru-btn-2 pull-left">View Employer</a>
                                <a href="#" class="jobguru-btn-2 pull-right">View Payment</a>
                                <div class="top-job-company-btn">
                                    
                                 </div>
                             </div>
                          </div>
                       </div>
                       
                       <div class="col-lg-6 col-md-12">
                          <div class="sigle-top-job">
                             <div class="top-job-company-image">
                                <div class="company-logo-img">
                                   <a href="#">
                                   <img src="assets/img/company-logo-4.png" alt="company image" />
                                   </a>
                                </div>
                                <h3><a href="#">Singelyn Enterprises</a></h3>
                                <h6><a href="#">Hired James Ndichu</a></h6>
                             </div>
                             <div class="top-job-company-desc">
                               <strong><p>Paid On 12/11/2018 </p></strong>
                                <ul>
                                   <li>Job Type<span class="company-state"><i class="fa fa-check"></i>Recurring shift</span></li>
                                   
                                   <li>Amount Paid<span class="varify rating-company"><i class="fa fa-money "></i><strong>$25</strong></span></li>
                                </ul>
                                <a href="#" class="jobguru-btn-2 pull-left">View Employer</a>
                                <a href="#" class="jobguru-btn-2 pull-right">View Payment</a>
                                <div class="top-job-company-btn">
                                    
                                 </div>
                             </div>
                          </div>
                       </div>

                       <div class="col-lg-6 col-md-12">
                          <div class="sigle-top-job">
                             <div class="top-job-company-image">
                                <div class="company-logo-img">
                                   <a href="#">
                                   <img src="assets/img/company-logo-4.png" alt="company image" />
                                   </a>
                                </div>
                                <h3><a href="#">Singelyn Enterprises</a></h3>
                                <h6><a href="#">Hired James Ndichu</a></h6>
                             </div>
                             <div class="top-job-company-desc">
                               <strong><p>Paid On 12/11/2018 </p></strong>
                                <ul>
                                   <li>Job Type<span class="company-state"><i class="fa fa-check"></i>Recurring shift</span></li>
                                   
                                   <li>Amount Paid<span class="varify rating-company"><i class="fa fa-money "></i><strong>$25</strong></span></li>
                                </ul>
                                <a href="#" class="jobguru-btn-2 pull-left">View Employer</a>
                                <a href="#" class="jobguru-btn-2 pull-right">View Payment</a>
                                <div class="top-job-company-btn">
                                    
                                 </div>
                             </div>
                          </div>
                       </div>
                       
                       
                       
                    </div>
                    <!-- end row -->
                    
                    <div class="row">
                       <div class="col-md-12">
                          <div class="pagination-box-row">
                             <p>Page 1 of 6</p>
                             <ul class="pagination">
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li>...</li>
                                <li><a href="#">6</a></li>
                                <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                             </ul>
                          </div>
                       </div>
                    </div>
                    <!-- end pagination row -->
                 </div>
            </div>
           
         </div>
      </div>
   </section>
  <app-footer></app-footer>

