<div class="dashboard-left">
    <ul class="dashboard-menu">
       <li>
          <a routerLink="/jobseeker/dashboard">
          <i class="fa fa-tachometer"></i>
          Dashboard
          </a>
       </li>
       <li><a routerLink="/admin/profile"><i class="fa fa-users"></i>My Profile</a></li>
       <li><a routerLink="/admin/jobseekers/approve"><i class="fa fa-check"></i>Approve Job Seekers</a></li>
       <li><a routerLink="/admin/employers/approve"><i class="fa fa-check"></i>Approve Employers</a></li>
       <li><a routerLink="/admin/payments"><i class="fa fa-check"></i>Payments</a></li>
       <li><a routerLink="/admin/jobseekers/"><i class="fa fa-tasks"></i>Job Seekers</a></li>
       <li><a routerLink="/admin/employers/"><i class="fa fa-paper-plane"></i>Employers</a></li>
       <li><a routerLink="/admin/messages"><i class="fa fa-search"></i>Messages</a></li>
       <li><a routerLink="/admin/posts"><i class="fa fa-search"></i>Job Posts</a></li>
       <li><a routerLink="/user/changepassword"><i class="fa fa-lock"></i>change password</a></li>
       <li><a href="/user/logout"><i class="fa fa-power-off"></i>LogOut</a></li>
    </ul>
 </div>