<div class="dashboard-left">
    <ul class="dashboard-menu">
       <li>
          <a routerLink="/jobseeker/dashboard">
          <i class="fa fa-tachometer"></i>
          Dashboard
          </a>
       </li>
       <li><a routerLink="/jobseeker/profile"><i class="fa fa-users"></i>My Profile</a></li>
       <li><a routerLink="/jobseeker/profile/notifications"><i class="fa fa-envelope-open"></i>messages</a></li>
       <li><a routerLink="/jobseeker/findjobs"><i class="fa fa-search"></i>Find a Job</a></li>
       <li><a routerLink="/jobseeker/checklist"><i class="fa fa-check"></i>Checklist</a></li>
       <li><a routerLink="/jobseeker/ongoingjobs"><i class="fa fa-briefcase"></i>Ongoing Jobs</a></li>
      
       <li><a routerLink="/user/changepassword"><i class="fa fa-lock"></i>change password</a></li>
       <li><a href="/user/logout"><i class="fa fa-power-off"></i>LogOut</a></li>
    </ul>
 </div>
