<app-header>

</app-header>
<section class="jobguru-breadcromb-area">
    
    
  </section>
  
  
 <!-- Breadcromb Area End -->
  
  
 <!-- Candidate Dashboard Area Start -->
 <section class="candidate-dashboard-area section_70">
    <div class="container">
       <div class="row">
          <div class="col-lg-3 col-md-12">
            <app-admin-side-bar></app-admin-side-bar>
          </div>
          <div class="col-lg-9 col-md-12">
             <div class="dashboard-right">
                <div class="candidate-profile">
                   <div class="candidate-single-profile-info">
                      <div class="single-resume-feild resume-avatar">
                         <div class="resume-image">
                            <img src="assets/img/author.jpg" alt="resume avatar">
                            <div class="resume-avatar-hover">
                               <div class="resume-avatar-upload">
                                  <p>
                                     <i class="fa fa-pencil"></i>
                                     Edit
                                  </p>
                                  <input type="file">
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                   <div class="candidate-single-profile-info">
                      <form>
                         <div class="resume-box">
                            <h3>Admin Profile</h3>
                            <div class="single-resume-feild feild-flex-2 ">
                              <div class="single-input">
                                 <label for="Bio">First Name</label>
                                 <input id="Bio" value="first Name">
                              </div>
                              
                             
                           </div>
                           <div class="single-resume-feild feild-flex-2 ">
                            <div class="single-input">
                              <label for="Bio">Last Name</label>
                              <input id="Bio" value="Last Name">
                           </div>
                           </div>
                           <div class="single-resume-feild feild-flex-2 ">
                            <div class="single-input">
                              <label for="Bio">Role</label>
                              <input id="Bio" value="position in the company">
                           </div>
                           </div>
                           <div class="single-resume-feild feild-flex-2 ">
                            <div class="single-input">
                              <br>
                           <button class="btn jobguru-btn-2">Save Info</button>  
                           </div>
                           </div>
                            
                           
                            
                         </div>
                        
                         <div class="resume-box">
                            <h3>social link</h3>
                            <div class="single-resume-feild feild-flex-2">
                               <div class="single-input">
                                  <label for="twitter">
                                  <i class="fa fa-twitter twitter"></i>
                                  twitter
                                  </label>
                                  <input type="text" value="https://www.twitter.com/" id="twitter" name="twitter">
                               </div>
                               <div class="single-input">
                                  <label for="twitter">
                                  <i class="fa fa-facebook facebook"></i>
                                  facebook
                                  </label>
                                  <input type="text" value="https://www.twitter.com/" id="facebook" name="facebook">
                               </div>
                            </div>
                            <div class="single-resume-feild feild-flex-2">
                               <div class="single-input">
                                  <label for="google">
                                  <i class="fa fa-google-plus google"></i>
                                  Google
                                  </label>
                                  <input type="text" value="https://www.google.com/" id="google" name="twitter">
                               </div>
                               <div class="single-input">
                                  <label for="linkedin">
                                  <i class="fa fa-linkedin linkedin"></i>
                                  linkedin
                                  </label>
                                  <input type="text" value="https://www.linkedin.com/" id="linkedin" name="twitter">
                               </div>
                            </div>
                         </div>
                         <div class="submit-resume">
                            <button type="submit">Update Social Links</button>
                         </div>
                      </form>
                   </div>
                </div>
             </div>
          </div>
          
       </div>
    </div>
 </section>
<app-footer></app-footer>

