<div class="candidate-single-profile-info">
  <div class="single-resume-feild resume-avatar">
     <div class="resume-image">
        <img [src]="(auth.user | async)?.photoURL" alt="resume avatar">
        <div class="resume-avatar-hover">
           <div class="resume-avatar-upload">
              <p (click)="uploader.click()">
                 <i class="fa fa-pencil"></i>
                 Edit
              </p>
              <input type="file" #uploader (change)="uploadFile($event)">
           </div>
        </div>
     </div>
  </div>
</div>
