<app-header></app-header>
  <section class="jobguru-breadcromb-area">
      
      
  </section>
    
    
   <!-- Breadcromb Area End -->
    
    
   <!-- Candidate Dashboard Area Start -->
   <section class="candidate-dashboard-area section_70">
      <div class="container">
         <div class="row">
            
            <div class="col-lg-12 col-md-12">
                <div class="job-sidebar-list-single">
                    <div class="sidebar-list-single">
                        <div class="top-company-list">
                           <h3>Profile CheckList</h3>
                        </div>
                     </div>
                     <!-- end sidebar single list -->
                    <div class="sidebar-list-single">
                       <div class="top-company-list">
                          <div class="company-list-logo">
                             <a href="#">
                             <span class="fa fa-user fa-3x"></span>
                             </a>
                          </div>
                          <div class="company-list-details">
                             <h3><a >Profile Picture</a></h3>
                             <p class="company-state" *ngIf="profilePictureStatus"><i class="fa fa-check fa-2x" ></i><strong>Updated</strong></p>
                             <p class="company-state" *ngIf="!profilePictureStatus" class="text-danger"><i class="fa fa-check fa-2x" ></i><strong>Profile picture has not been updated</strong></p>
                            
                          </div>
                          <div class="company-list-btn">
                             <a  routerLink="/employer/profile" class="jobguru-btn"><i class="fa fa-check"></i>Update</a>
                          </div>
                       </div>
                    </div>
                    <!-- end sidebar single list -->
                    <div class="sidebar-list-single">
                        <div class="top-company-list">
                           <div class="company-list-logo">
                              <a href="#">
                              <span class="fa fa-tasks fa-3x"></span>
                              </a>
                           </div>
                           <div class="company-list-details">
                              <h3><a href="#">Company Overview</a></h3>
                              <p class="company-state"  *ngIf="overview_status"><i class="fa fa-check fa-2x"></i><strong>Updated</strong></p>
                              <p class="company-state"  *ngIf="!overview_status" class="text-danger"><i class="fa fa-close fa-2x"></i><strong>Company overview is not updated, this is important to help employees understand more about your company</strong></p>
                             
                           </div>
                           <div class="company-list-btn">
                              <a routerLink="/employer/profile" class="jobguru-btn" ><i class="fa fa-check"></i>Update</a>
                              
                           </div>
                        </div>
                     </div>
                     <!-- end sidebar single list -->
                     <div class="sidebar-list-single">
                        <div class="top-company-list">
                           <div class="company-list-logo">
                              <a href="#">
                              <span class="fa fa-tasks fa-3x"></span>
                              </a>
                           </div>
                           <div class="company-list-details">
                              <h3><a href="#">Company Phone Number && Email </a></h3>
                              <p class="company-state"  *ngIf="phoneAndEmailStatus"><i class="fa fa-check fa-2x"></i><strong>Updated</strong></p>
                              <p class="company-state"  *ngIf="!phoneAndEmailStatus" class="text-danger"><i class="fa fa-close fa-2x"></i><strong>Company phone Number is not yet updated</strong></p>
                             
                           </div>
                           <div class="company-list-btn">
                              <a routerLink="/employer/profile" class="jobguru-btn"><i class="fa fa-check"></i>Update</a>
                           </div>
                        </div>
                     </div>
                     <!-- end sidebar single list -->
                     <div class="sidebar-list-single">
                        <div class="top-company-list">
                           <div class="company-list-logo">
                              <a href="#">
                              <span class="fa fa-id-card fa-3x"></span>
                              </a>
                           </div>
                           <div class="company-list-details">
                              <h3><a href="#">Employment Identification Number(EIN)</a></h3>
                              <div *ngIf="!EINStatus">

                             
                              <p class="company-state" style="color: red"><i class="fa fa-close fa-2x" style="color: red"></i><strong>Not Uploaded</strong></p>
                              <p class="open-icon" style="color: red">must be uploaded for your account to be approved</p>
                            </div>
                            <p  class="company-state"  *ngIf="EINStatus"><i class="fa fa-check fa-2x"></i><strong>Updated</strong></p>
                           </div>
                           <div class="company-list-btn">
                              <a routerLink="/employer/profile" class="jobguru-btn" ><i class="fa fa-pencil"></i>Update</a>
                           </div>
                        </div>
                     </div>
                     <!-- end sidebar single list -->
                     <div class="sidebar-list-single">
                        <div class="top-company-list">
                           <div class="company-list-logo">
                              <a href="#">
                              <span class="fa fa-lock fa-3x"></span>
                              </a>
                           </div>
                           <div class="company-list-details">
                              <h3><a href="#">Payment Method</a></h3>
                              <p class="company-state"  *ngIf="paymentMethodStatus"><i class="fa fa-check fa-2x"></i><strong>Payment Method is updated</strong></p>
                              <p class="company-state"  *ngIf="!paymentMethodStatus" class="text-danger"><i class="fa fa-close fa-2x"></i><strong>Payment method not verified</strong></p>
                             
                           </div>
                           <div class="company-list-btn">
                              <a href="#" class="jobguru-btn"><i class="fa fa-check"></i>Update Payment Method</a>
                           </div>
                        </div>
                     </div>
                     <!-- end sidebar single list -->
                    
                     </div>
            </div>
            
         </div>
      </div>
   </section>
  <app-footer></app-footer>
  
