<app-header></app-header>

<section class="jobguru-breadcromb-area">
    
    
 </section>
 <section class="candidate-dashboard-area section_70">
    <div class="container">
       <div class="row">
          <div class="col-lg-3 col-md-12 dashboard-left-border">
            <app-employer-main-sidebar></app-employer-main-sidebar>
          </div>
          <div class="col-lg-9 col-md-12">
             <div class="dashboard-right">
                
                <div class="earnings-page-box manage-jobs">
                   <div class="manage-jobs-heading">
                      <h3>Dashboard</h3>
                   </div>
                   <div class="earnings-flex">
                      <div class="single-earnings">
                         <div class="earnings-icon">
                            <i class="fa fa-line-chart"></i>
                         </div>
                         <h4>Sent Job Invites</h4>
                         <h2>10</h2>
                         <p>In the last 28 days</p>
                      </div>
                      <div class="single-earnings">
                         <div class="earnings-icon">
                            <i class="fa fa-line-chart"></i>
                         </div>
                         <h4>Job Applications</h4>
                         <h2>30</h2>
                         <p></p>
                         <p>In the last 28 days</p>
                        
                      </div>
                      <div class="single-earnings">
                          <div class="earnings-icon">
                             <i class="fa fa-line-chart"></i>
                          </div>
                          <h4>Contracted Jobs</h4>
                          <h2>30</h2>
                          <p></p>
                          <p>In the last 28 days</p>
                         
                       </div>
                       
                      <div class="single-earnings">
                         <div class="earnings-icon">
                            <i class="fa fa-line-chart"></i>
                         </div>
                         <h4>Pending Offers Sent</h4>
                         <h2>20</h2>
                         <p></p>
                         <p>In the last 28 days</p>
                      </div>
                   </div>

                   <div class="balance-box-flex">
                      <div class="transfer-balance single-balance-box ">
                          <h3>My Profile <span><a routerLink="/employer/profile">update profile</a></span></h3>
                          <img src="../assets/img/payoneer.jpg" alt="paypal" />
                       </div>
                       <div class="transfer-balance single-balance-box ">
                          <h3>Profile Completeness <span><a routerLink="/employer/checklist">Checklist</a></span></h3>
                          <h5>Approval Status <span class="badge badge-success">approved <span class="fa fa-check"></span></span></h5>
                          <br>
                          <div class="progress">
                              <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                            </div>
                       </div>
                       
                      
                     
                   </div>
                   <div class="balance-box-flex">
                      <div class="my-balance single-balance-box ">
                          <div class="widget_chart_analytics_right">
                             <p>Last Login</p>
                             <p>11/10/2018 7.40p.m</p>
                          </div>
                          <h3>My Search Appearances From Jobseekers </h3>
                          <h2>56</h2>
                          <p>Last 28 days</p>
                          
                       </div>

                   </div>
                   <div class="balance-box-flex">
                    <div class="my-balance single-balance-box ">
                        <div class="widget_chart_analytics_right">
                          
                        </div>
                        <h3>Job Applications</h3>
                        <h2>10</h2>
                        <p>Last 30 days</p>
                        <a href="#" class="jobguru-btn-2 pull-right">View Job Applications</a>
                     </div>

                 </div>
                 <div class="balance-box-flex">
                    <div class="my-balance single-balance-box ">
                        <div class="widget_chart_analytics_right">
                          
                        </div>
                        <h3>Payments</h3>
                        <h2>$500</h2>
                        <p>All the Payments</p>
                        <a routerLink="/employer/payments" class="jobguru-btn-2 pull-right">View Payments</a>
                     </div>

                 </div>

                   <div class="balance-transfer-btn">
                      <a href="#" class="jobguru-btn-2">Go to main Candidates Page</a>
                   </div>
                   <div class="manage-jobs-heading">
                     <br>
                      <h3>My Job Posts</h3>
                   </div>
                </div>
             </div>

             <div class="job-grid-right candidate-list-page">
                <div class="browse-job-head-option">
                   <div class="job-browse-search">
                      <form>
                         <input type="search" placeholder="Search Jobs Here...">
                         <button type="submit"><i class="fa fa-search"></i></button>
                      </form>
                   </div>
                   <div class="job-browse-action">
                      <div class="email-alerts">
                         <input type="checkbox" class="styled" id="b_1">
                         <label class="styled" for="b_1">Only not hired posts</label>
                      </div>
                      <div class="dropdown">
                         <button class="btn-dropdown dropdown-toggle" type="button" id="dropdowncur" data-toggle="dropdown" aria-haspopup="true">Sort By</button>
                         <ul class="dropdown-menu" aria-labelledby="dropdowncur">
                            <li>Newest</li>
                            <li>Oldest</li>
                            <li>Hired</li>
                            <li>Not Hired</li>
                           
                         </ul>
                      </div>
                   </div>
                   

                </div>
                <!-- end job head -->
                <div class="candidate-list-page">
                   <!-- End Single Candidate List -->
                   <div class="single-candidate-list">
                      <div class="main-comment">
                         <div class="candidate-image">
                            <img src="assets/img/msg-2.png" alt="author">
                         </div>
                         <div class="candidate-text">
                            <div class="candidate-info">
                               <div class="candidate-title">
                                  <h3><a href="#">Job Title Here</a></h3>
                                  <span class="fa fa-star starred"></span>
                                  <span class="fa fa-star starred"></span>
                                  <span class="fa fa-star starred"></span>
                                  <span class="fa fa-star"></span>
                                  <span class="fa fa-star"></span>
                               </div>
                               <p><span class="fa fa-map-marker"></span>Hillsborough, NJ</p>
                            </div>
                            <div class="candidate-text-inner">
                               <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam eu velit cursus, tempor ipsum in, tempus lectus. Nullam tempus nisi id nisl luctus, non tempor justo molestie.</p>
                            </div>
                            <div class="candidate-text-bottom">
                               <div class="candidate-text-box">
                                  <p class="open-icon"><i class="fa fa-clock"></i> shift (10/12/2018 7.13 p.m - 12.00 p.m) </p>
                                  <p class="company-state"><i class="fa fa-map-marker"></i> Manville, NJ</p>
                                  <p class="varify"><i class="fa fa-check"></i> $50 / hr</p>
                               </div>
                               <div class="candidate-action">
                                  <a href="#" class="jobguru-btn-2">View Post</a>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                   <!-- End Single Candidate List -->
                   <div class="single-candidate-list">
                      <div class="main-comment">
                         <div class="candidate-image">
                            <img src="assets/img/msg-2.png" alt="author">
                         </div>
                         <div class="candidate-text">
                            <div class="candidate-info">
                               <div class="candidate-title">
                                  <h3><a href="#">Job Title Here</a></h3>
                                  <span class="fa fa-star starred"></span>
                                  <span class="fa fa-star starred"></span>
                                  <span class="fa fa-star starred"></span>
                                  <span class="fa fa-star starred"></span>
                                  <span class="fa fa-star"></span>
                               </div>
                               <p><span class="fa fa-map-marker"></span> Hillsborough, NJ</p>
                            </div>
                            <div class="candidate-text-inner">
                               <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam eu velit cursus, tempor ipsum in, tempus lectus. Nullam tempus nisi id nisl luctus, non tempor justo molestie.</p>
                            </div>
                            <div class="candidate-text-bottom">
                               <div class="candidate-text-box">
                                  <p class="open-icon"><i class="fa fa-clock"></i> Full-time </p>
                                  <p class="company-state"><i class="fa fa-map-marker"></i> Morristown,NJ</p>
                                  <p class="varify"><i class="fa fa-check"></i> 40,000/Yr</p>
                               </div>
                               <div class="candidate-action">
                                  <a href="#" class="jobguru-btn-2">view Post</a>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                   <!-- End Single Candidate List -->
                   <div class="single-candidate-list">
                      <div class="main-comment">
                         <div class="candidate-image">
                            <img src="assets/img/msg-1.png" alt="author">
                         </div>
                         <div class="candidate-text">
                            <div class="candidate-info">
                               <div class="candidate-title">
                                  <h3><a href="#">Job Title Here</a></h3>
                                  <span class="fa fa-star starred"></span>
                                  <span class="fa fa-star starred"></span>
                                  <span class="fa fa-star starred"></span>
                                  <span class="fa fa-star"></span>
                                  <span class="fa fa-star"></span>
                               </div>
                               <p><span class="fa fa-map-marker"></span> Hillsborough, NJ</p>
                            </div>
                            <div class="candidate-text-inner">
                               <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam eu velit cursus, tempor ipsum in, tempus lectus. Nullam tempus nisi id nisl luctus, non tempor justo molestie.</p>
                            </div>
                            <div class="candidate-text-bottom">
                               <div class="candidate-text-box">
                                  <p class="open-icon"><i class="fa fa-clock"></i> Part-Time </p>
                                  <p class="company-state"><i class="fa fa-map-marker"></i> Manville, Nj</p>
                                  <p class="varify"><i class="fa fa-check"></i> 60,000/Yr</p>
                               </div>
                               <div class="candidate-action">
                                  <a href="#" class="jobguru-btn-2">view Post</a>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                  
                  
                </div>
                <div class="pagination-box-row">
                   <p>Page 1 of 6</p>
                   <ul class="pagination">
                      <li class="active"><a href="#">1</a></li>
                      <li><a href="#">2</a></li>
                      <li><a href="#">3</a></li>
                      <li>...</li>
                      <li><a href="#">6</a></li>
                      <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                   </ul>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>

<app-footer></app-footer>
