<app-header></app-header>

<section class="jobguru-breadcromb-area">
    
    
 </section>
 <section class="candidate-dashboard-area section_70">
    <div class="container">
       <div class="row">
         
          <div class="col-lg-12 col-md-12">
             <div class="dashboard-right">
                
                <div class="earnings-page-box manage-jobs">
                   <div class="manage-jobs-heading">
                      <h3>Dashboard</h3>
                   </div>
                   <div class="earnings-flex">
                      <div class="single-earnings accent" (click)="goToJobPosts()">
                         <div class="earnings-icon">
                            <i class="fa fa-line-chart"></i>
                         </div>
                         <h4>My Job Posts</h4>
                         <h2>{{(myjobPosts | async )?.data.length}}</h2>
                         <p>All My Job Posts</p>
                      </div>
                      <div class="single-earnings">
                         <div class="earnings-icon">
                            <i class="fa fa-line-chart"></i>
                         </div>
                         <h4>Job Applications</h4>
                         <h2>30</h2>
                         <p></p>
                         <p>In the last 28 days</p>
                        
                      </div>
                      <div class="single-earnings accent">
                          <div class="earnings-icon">
                             <i class="fa fa-line-chart"></i>
                          </div>
                          <h4>Contracted Jobs</h4>
                          <h2>30</h2>
                          <p></p>
                          <p>In the last 28 days</p>
                         
                       </div>
                       
                      <div class="single-earnings">
                         <div class="earnings-icon">
                            <i class="fa fa-line-chart"></i>
                         </div>
                         <h4>Pending Offers Sent</h4>
                         <h2>20</h2>
                         <p></p>
                         <p>In the last 28 days</p>
                      </div>
                   </div>

                   <div class="balance-box-flex">
                      <div class="transfer-balance single-balance-box ">
                          <h3> {{(auth.user | async)?.displayName}}<span><a routerLink="/employer/profile">update profile</a></span></h3>
                          <img src="{{(auth.user | async)?.photoURL}}" alt="paypal" />
                          <a  class=" btn jobguru-btn-2 pull-right accent" routerLink="/employer/profile">
                                    Update Profile
                          </a>
                       </div>
                       <div class="transfer-balance single-balance-box ">
                          <h3>Profile Completeness <span><a routerLink="/employer/checklist">Checklist</a></span></h3>
                          <h5>Approval Status 
                              <span class="badge badge-success" *ngIf="(auth.user | async)?.approved && (auth.user | async)?.approvedDate">approved <span class="fa fa-check"></span></span>
                              <span class="badge badge-danger" *ngIf="!(auth.user | async)?.approved">Not approved <span class="fa fa-check"></span></span>
                        </h5>
                          <br>
                          <div class="progress">
                              <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25%" aria-valuemin="0" aria-valuemax="100">{{profilePercentage}}%</div>
                            </div>
                       </div>
                       
                      
                     
                   </div>
                   <div class="balance-box-flex">
                      <div class="my-balance single-balance-box ">
                          <div class="widget_chart_analytics_right">
                             <p>Last Login</p>
                             <p>11/10/2018 7.40p.m</p>
                          </div>
                          <h3>My Search Appearances From Jobseekers </h3>
                          <h2>56</h2>
                          <p>Last 28 days</p>
                          
                       </div>

                   </div>
                   <div class="balance-box-flex">
                    <div class="my-balance single-balance-box ">
                        <div class="widget_chart_analytics_right">
                          
                        </div>
                        <h3>Job Applications</h3>
                        <h2>10</h2>
                        <p>Last 30 days</p>
                        <a href="#" class="jobguru-btn-2 pull-right">View Job Applications</a>
                     </div>

                 </div>
                 <div class="balance-box-flex">
                    <div class="my-balance single-balance-box ">
                        <div class="widget_chart_analytics_right">
                          
                        </div>
                        <h3>Payments</h3>
                        <h2>$500</h2>
                        <p>All the Payments</p>
                        <a routerLink="/employer/payments" class="jobguru-btn-2 pull-right">View Payments</a>
                     </div>

                 </div>

                   
                </div>
             </div>

             
          </div>
       </div>
    </div>
 </section>

<app-footer></app-footer>
